<script>
export default {
  name: 'CuiButton',
  props: {
    color: {
      type: String,
      required: false
    },
    size: {
      type: String,
      required: false
    },
    fit: {
      type: Boolean,
      required: false,
      default: false
    },
    outline: {
      type: Boolean,
      required: false,
      default: false
    },
    transparent: {
      type: Boolean,
      required: false,
      default: false
    },
    action: {
      type: Boolean,
      required: false,
      default: false
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  computed: {
    buttonSize() {
      return this.size || this.$CHERRY.size
    },
    buttonColor() {
      return this.color || this.$CHERRY.color
    }
  },
  methods: {
    handleClick(event) {
      this.$emit('click', event)
    }
  }
}
</script>

<template>
  <button
    :class="[
      `cui-button`,
      `cui-button--${buttonSize}`,
      `cui-button--${buttonColor}`,
      this.transparent ? 'cui-button--transparent' : '',
      this.outline ? 'cui-button--outline' : '',
      this.action ? 'cui-button--action' : '',
      this.disabled ? 'cui-button--disabled' : '',
      this.fit ? 'cui-button--fit' : ''
    ]"
    :disabled="disabled"
    @click="handleClick"
  >
    <slot />
  </button>
</template>
