<template>
  <transition 
    name="cui-fade"
    @after-enter="afterEnter"
    @after-leave="afterLeave"
  >
    <div
      ref="backdrop"
      v-if="isVisible"
      tabindex="0"
      class="flex w-full h-full overflow-auto fixed top-0 left-0 z-50 p-5 focus:outline-none"
      style="background-color: rgba(239, 241, 244, 0.75)"
      :data-context="identificator"
      @click.self.stop="onClickBackground"
      @keydown.esc.prevent="closeOnEscape ? close() : false"
    >
      <div
        v-loading="loading"
        class="flex flex-col w-full m-auto bg-white shadow-raised rounded relative overflow-hidden p-8"
        :class="[
          size ? this.size : 'max-w-screen-sm',
          scroll ? 'max-h-full' : '',
          boxClass
        ]"
        @mousedown="onModalMousedown"
      >
        <button 
          v-if="showClose"
          class="absolute top-0 right-0 p-4 text-gray hover:text-coal-base active:text-blue-base transition-all ease-linear duration-200 focus:text-blue-d1 focus:outline-none"
          data-label="Close"
          @click="close"
        >
          <x-icon class="w-6 h-6" />
        </button>
        
        <div>
          <div
            v-if="$scopedSlots.header || $slots.header || title"
            class="mb-8 last:mb-0"
          >
            <slot name="header" v-bind="{ ...slotScope() }">
              <span class="text-md md:text-lg lg:text-xl text-coal-base">
                {{ title }}
              </span>
            </slot>
          </div>

          <div
            v-if="$scopedSlots.default || $slots.default"
            class="mb-8 last:mb-0"
            :class="{ 'overflow-y-auto' : this.scroll }"
          >
            <slot v-bind="{ ...slotScope() }" />
          </div>

          <div 
            v-if="$scopedSlots.footer || $slots.footer"
            class="mb-8 last:mb-0"
          >
            <slot name="footer" v-bind="{ ...slotScope() }" />
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import { XIcon } from 'vue-feather-icons'
import { CuiBackdrop } from '../Backdrop'

export default {
  name: 'CuiModal',
  extends: CuiBackdrop,
  props: {
    loading: {
      type: Boolean,
      required: false,
      default: false
    },
    title: {
      type: String,
      required: false
    },
    showClose: {
      type: Boolean,
      required: false,
      default: true
    },
    boxClass: {
      type: [String, Object],
      required: false
    },
    size: {
      type: String,
      required: false
    },
    scroll: {
      type: Boolean,
      default: false
    }
  },
  components: {
    XIcon
  },
  methods: {
    onModalMousedown() {
      const backdrop = this.$refs.backdrop
      const onceModalMouseup = evt => {
        if (backdrop && backdrop.removeEventListener) {
          backdrop.removeEventListener('mouseup', onceModalMouseup, { passive: true, capture: false })
        }
        if (evt.target === backdrop) {
          this.ignoreBackgroundClick = true
        }
      }

      if (backdrop && backdrop.addEventListener) {
        backdrop.addEventListener('mouseup', onceModalMouseup, { passive: true, capture: false })
      }
    }
  }
}
</script>

<style lang="postcss">
.cui-modal {
  @apply flex flex-col w-full m-auto bg-white shadow-raised rounded relative overflow-hidden;
}
</style>
