<template>
  <div
    v-if="visible"
    class="fixed inset-x-0 bottom-0 py-3 z-50 bg-black-alpha-70 shadow-raised"
    data-context="cookies_consent">
    <div class="container">
      <div class="relative flex flex-col lg:flex-row items-center py-5 px-4 bg-white rounded shadow-raised">
        <button class="absolute lg:relative self-start top-0 right-0 mt-2 mr-2 lg:m-0 text-coal-l1 hover:text-coal-base focus:outline-none" data-label="Close" @click="close">
          <x-icon class="w-5 h-5" />
        </button>
        <div class="flex-1 px-3 lg:px-4 text-xs sm:text-base leading-normal">
          <!-- eslint-disable-next-line -->
          This website uses cookies that ensure seamless operation and continuous improvement of the website. Required cookies - technical, functional and analytical - are set automatically. The website also uses targeted (marketing) cookies. By clicking "Accept Cookies", you agree to the installation and use of targeted cookies. You can revoke your consent at any time by changing your web browser settings or through our <a :href="cookiesPolicyUrl" class="text-blue-base underline hover:no-underline">Cookie Policy</a>.
        </div>
        <div class="flex justify-center w-full lg:w-1/5 mt-4 lg:mt-0 px-3 lg:px-4">
          <cui-button size="medium" class="w-full sm:w-auto lg:w-full whitespace-no-wrap" data-label="Accept Cookies" @click="accept">
            Accept Cookies
          </cui-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { PLUGIN_NAME as COOKIES_CONSENT_PLUGIN_NAME } from 'cherry-analytics/plugins/cookies-consent'
import { CuiButton } from 'cherry-ui/components'
import { XIcon } from 'vue-feather-icons'

export default {
  name: 'CuiCookiesBanner',
  components: {
    CuiButton,
    XIcon
  },
  props: {
    cookiesPolicyUrl: {
      type: String,
      default: 'https://www.cherryservers.com/legal/cookies'
    }
  },
  data () {
    return {
      visible: false
    }
  },
  mounted () {
    this.load()
    this.$eventBus.$on('consentChanged', () => {
      this.load()
    })
  },
  destroyed () {
    this.$eventBus.$off('consentChanged')
  },
  methods: {
    load () {
      const consent = this.$analytics.plugins[COOKIES_CONSENT_PLUGIN_NAME].getConsent()
      if (consent === null) this.visible = true
      else this.visible = false
    },
    accept () {
      this.visible = false
      this.$analytics.plugins[COOKIES_CONSENT_PLUGIN_NAME].setConsent(true)
      this.$message.success('Cookies Policy successfully accepted.')
    },
    close () {
      this.visible = false
    }
  }
}
</script>