<template>
  <transition 
    name="cui-fade"
    @after-enter="afterEnter"
    @after-leave="afterLeave"
  >
    <div 
      ref="backdrop"
      v-if="isVisible"
      class="flex w-full h-full overflow-auto fixed top-0 left-0 z-50 p-5 focus:outline-none"
      style="background-color: rgba(239, 241, 244, 0.75)"
      tabindex="0"
      :data-context="identificator"
      @keydown.esc="closeOnEscape ? close() : false"
      @click.self.stop="onClickBackground"
    >
      <slot />
    </div>
  </transition>
</template>

<script>
export default {
  name: 'CuiBackdrop',
  model: {
    prop: 'visible',
    event: 'change'
  },
  props: {
    identificator: {
      type: String,
      required: false
    },
    analyticsProperties: {
      type: Object,
      required: false,
      default: () => {}
    },
    visible: {
      type: Boolean,
      required: false,
      default: false
    },
    closableBackground: {
      type: Boolean,
      required: false,
      default: true
    },
    closeOnEscape: {
      type: Boolean,
      required: false,
      default: true
    }
  },
  data: () => ({
    isVisible: false,
    ignoreBackgroundClick: false
  }),
  watch: {
    'visible': function (visible) {
      if (visible === this.isVisible) return
      if (visible) this.open()
      else this.close()
    }
  },
  beforeDestroy() {
    document.body.style.overflow = ''
  },
  methods: {
    close() {
      this.isVisible = false
      this.updateModel(false)
      this.$emit('close')
    },
    open() {
      if (this.isVisible) {
        return
      }

      this.isVisible = true
      this.updateModel(true)
      this.$emit('open')

      if (this.identificator) {
        this.$analytics.track('modal', {
          name: this.identificator,
          ...this.analyticsProperties
        })
      }
    },
    afterEnter() {
      document.body.style.overflow = 'hidden'
      this.$el.focus()
      this.$emit('opened')
    },
    afterLeave() {
      document.body.style.overflow = ''
      this.$emit('closed')
    },
    onClickBackground() {
      if (this.ignoreBackgroundClick) {
        this.ignoreBackgroundClick = false
        return
      }

      if (!this.isVisible || !this.closableBackground || !(document.body && typeof document.body.contains === 'function' ? document.body.contains(event.target) : false)) {
        return
      }

      this.close()
    },
    updateModel (val) {
      if (val !== this.isVisible) {
        this.$emit('change', val)
      }
    },
    slotScope() {
      return {
        visible: this.isVisible,
        open: this.open,
        close: this.close,
      }
    }
  }
}
</script>

<style lang="postcss" scoped>
.cui-backdrop {
  @apply flex w-full h-full overflow-auto fixed top-0 left-0 z-50 p-5;
  background-color: rgba(239, 241, 244, 0.75);
  &:focus {
    @apply outline-none;
  }
}
</style>
