<template>
  <cui-modal :visible="visible" @close="$emit('close')" :loading="loading">
    <template #header>
      <div class="text-md md:text-lg lg:text-xl text-coal-base">
        <slot name="title" />
      </div>
      <div class="mt-3 leading-tight">
        <slot name="description" />
      </div>
    </template>

    <template>
      <el-form :model="form" :rules="rules" size="small" ref="form" @submit.native.prevent>
        <div class="mb-6" v-if="$slots.default">
          <slot />
        </div>
        <el-form-item prop="confirmationString" label="If you sure about this, please confirm this action:" v-if="confirmationString" style="margin-bottom: 10px">
          <el-input v-model="form.confirmationString" :placeholder="`Type \'${confirmationString}\' for confirmation`" clearable />
        </el-form-item>
        <template v-if="reasons">
          <el-form-item prop="confirmationReason" label="Cancelation reason" style="margin-bottom: 10px">
            <el-select class="w-full" v-model="form.confirmationReason" placeholder="Select cancelation reason">
              <el-option
                v-for="reason in reasons"
                :key="reason.id"
                :value="reason.id"
                :label="reason.title"
              />
            </el-select>
          </el-form-item>
          <el-form-item label="Let us know cancelation details" v-if="form.confirmationReason">
            <el-input type="textarea" :resizable="false" placeholder="Enter cancelation details"  v-model="form.confirmationComment" class="font-primary" />
          </el-form-item>
        </template>
      </el-form>
    </template>

    <template #footer>
      <cui-button :color="color" fit size="normal" :disabled="!isFormValid" @click="confirm">
        {{ confirmationText }}
      </cui-button>
    </template>
  </cui-modal>
</template>

<script>
import { CuiModal } from '../Modal'

export default {
  name: 'CuiActionConfirmation',
  extends: CuiModal,
  props: {
    confirmationString: {
      type: String,
      required: false
    },
    confirmationText: {
      type: String,
      required: false,
      default: 'Confirm'
    },
    reasons: {
      type: [Object, Array],
      required: false
    },
    color: {
      type: String,
      required: false,
      default: 'red'
    },
  },
  computed: {
    isFormValid () {
      if (!this.confirmationString) return true
      return this.confirmationString === this.form.confirmationString
    }
  },
  data: () => ({
    rules: {},
    form: {
      confirmationString: '',
      confirmationReason: '',
      confirmationComment: ''
    }
  }),
  watch: {
    'form.confirmationString': function () {
      this.$refs.form.validate()
    },
    visible: function (visible) {
      if (visible) {
        this.generateFormRules()
      } else {
        this.$refs.form.resetFields()
      }
    }
  },
  methods: {
    generateFormRules() {
      this.$set(this.rules, 'confirmationString', {
        required: true,
        message: 'Confirmation string does not match',
        trigger: 'change',
        pattern: new RegExp(`^${this.confirmationString}$`)
      })

      this.$set(this.rules, 'confirmationReason', {
        required: true,
        message: 'Cancelation reason must be filled',
        trigger: 'change'
      })
    },
    async confirm () {
      try {
        await this.$refs.form.validate()
        this.$emit('confirmed', {
          reason: this.form.confirmationReason,
          comment: this.form.confirmationComment
        })
      } catch (e) {
        this.$emit('declined')
      }
    }
  }
}
</script>
