.cui-smartitem {
  @apply relative block no-underline rounded shadow-raised bg-white text-gray text-sm leading-none border border-snow-d3 transition-border duration-200 ease-linear;
}
a.cui-smartitem {
  @apply text-gray;
}
a.cui-smartitem:hover {
  border-color: #dee2e8;
}

.cui-smartitem__content {
  @apply p-3 overflow-hidden items-center rounded-sm text-center justify-center;
}

.cui-smartitem__cell {
  @apply py-2;
}
.cui-smartitem__cell+.cui-smartitem__cell {
  @apply border-t border-snow-d3;
}

.cui-smartitem__expandable {
  @apply p-5 border-t border-snow-d3;
}

.cui-smartlist .cui-smartitem+.cui-smartitem {
  @apply mt-4;
}

.cui-smartlist__head {
  @apply hidden;
}
.cui-smartlist__head+.cui-smartlist__body {
  @apply mt-1;
}

.cui-smartlist__head .cui-smartitem {
  @apply bg-transparent border-none shadow-none h-auto text-sm;
}

@screen lg {
  .cui-smartitem__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    @apply text-left justify-start;
  }

  .cui-smartitem__cell {
    @apply px-2 py-0;
  }

  .cui-smartitem__cell+.cui-smartitem__cell {
    @apply border-none;
  }

  .cui-smartlist__head {
    @apply block;
  }
}