@layer components {
  .cui-button {
    @apply inline-flex justify-center items-center font-primary outline-none font-600 text-base transition ease-linear duration-200 rounded-sm;
  }

  @responsive {
    .cui-button--large { @apply h-14 px-8 text-md; }
    .cui-button--large.cui-button--action { @apply w-14; }
    
    .cui-button--medium { @apply h-12 px-6 }
    .cui-button--medium.cui-button--action { @apply w-12; }
    
    .cui-button--normal { @apply h-10 px-4 }
    .cui-button--normal.cui-button--action { @apply w-10; }
    
    .cui-button--small { @apply h-8 px-4 text-xs; }
    .cui-button--small.cui-button--action { @apply w-8; }
    
    .cui-button--tiny { @apply h-6 px-2 text-xs; }
    .cui-button--tiny.cui-button--action { @apply w-6; }
    
    .cui-button--fit { @apply w-full; }
    .cui-button--action { @apply px-0; }
  }

  .cui-button--fit {
    @apply w-full;
  }
  
  .cui-button--white {
    @apply bg-white text-blue-base;
  }
  .cui-button--white:hover {
    @apply bg-snow-l3;
  }
  .cui-button--white:active {
    @apply bg-snow-l2;
  }

  .cui-button--blue {
    @apply bg-blue-base text-white;
  }
  .cui-button--blue:hover {
    @apply bg-blue-d1;
  }
  .cui-button--blue:active {
    @apply bg-blue-d2;
  }
  
  .cui-button--outline.cui-button--blue {
    @apply text-blue-l1 border-blue-l1;
  }
  .cui-button--outline.cui-button--blue:hover {
    @apply bg-blue-l3 bg-opacity-5 text-blue-base border-blue-base;
  }
  .cui-button--transparent.cui-button--blue {
    @apply bg-blue-l3 bg-opacity-5 text-blue-base;
  }
  .cui-button--transparent.cui-button--blue:hover {
    @apply bg-blue-l3 bg-opacity-10 text-blue-d1;
  }
  
  .cui-button--red {
    @apply bg-red-l2 text-white;
  }
  .cui-button--red:hover {
    @apply bg-red-base;
  }
  .cui-button--red:active {
    @apply bg-red-d1;
  }

  .cui-button--outline.cui-button--red {
    @apply text-red-l1 border-red-l1;
  }
  .cui-button--outline.cui-button--red:hover {
    @apply bg-red-l3 bg-opacity-5 text-red-base border-red-base;
  }
  .cui-button--transparent.cui-button--red {
    @apply bg-red-l3 bg-opacity-5 text-red-base;
  }
  .cui-button--transparent.cui-button--red:hover {
    @apply bg-red-l3 bg-opacity-10 text-red-d1;
  }

  .cui-button--gray {
    @apply bg-coal-l2 text-white;
  }
  .cui-button--gray:hover {
    @apply bg-coal-l1;
  }
  .cui-button--gray:active {
    @apply bg-coal-l1;
  }

  .cui-button--outline.cui-button--gray {
    @apply text-coal-l1 border-coal-l1;
  }
  .cui-button--outline.cui-button--gray:hover {
    @apply bg-gray bg-opacity-5 text-coal-base border-coal-base;
  }
  .cui-button--transparent.cui-button--gray {
    @apply bg-gray bg-opacity-5 text-coal-base;
  }
  .cui-button--transparent.cui-button--gray:hover {
    @apply bg-gray bg-opacity-10 text-coal-d1;
  }

  .cui-button--light-gray {
    @apply bg-gr-300 text-coal-base;
  }
  .cui-button--light-gray:hover {
    @apply bg-gr-400 text-white;
  }
  .cui-button--light-gray:active {
    @apply bg-gr-500;
  }

  .cui-button--outline,
  .cui-button--outline:hover,
  .cui-button--outline:active {
    @apply bg-transparent border;
  }

  .cui-button--transparent {
    @apply bg-transparent;
  }
  
  .cui-button.cui-button--disabled {
    @apply bg-opacity-25 text-opacity-75 cursor-not-allowed;
  }

  button.cui-button:focus {
    @apply outline-none;
  }
}