<template>
  <c-collapser :visibleInitially="true">
      <template slot-scope="{ toggle, visible }" v-if="visible">
        <transition name="fade">
          <div :class="[
            `cui-alert`,
            `cui-alert--${alertColor}`
          ]">
            <div class="cui-alert__icon" v-if="$slots.icon">
              <slot name="icon" />
            </div>
            <div class="cui-alert__content">
              <div class="cui-alert__title" v-if="$slots.title || title">
                <slot name="title">
                  {{ title }}
                </slot>
              </div>
              <div class="cui-alert__text">
                <slot>{{ text }}</slot>
              </div>
            </div>
            <button class="cui-alert__close" @click="toggle" v-if="closable">
              <template v-if="closeText">
                {{ closeText }}
              </template>
              <template v-else>
                <x-icon class="w-5 h-5" />
              </template>
            </button>
          </div>
        </transition>
      </template>
  </c-collapser>
</template>

<script>
import { CCollapser } from '../../renderless/Collapser'
import { XIcon } from 'vue-feather-icons'

export default {
  name: 'CuiAlert',
  components: {
    CCollapser,
    XIcon
  },
  props: {
    title: {
      type: String,
      required: false
    },
    text: {
      type: String,
      required: false
    },
    closable: {
      type: Boolean,
      required: false,
      default: false
    },
    closeText: {
      type: String,
      required: false
    },
    color: {
      type: String,
      required: false
    }
  },
  computed: {
    alertColor() {
      return this.color || this.$CHERRY.color
    }
  }
}
</script>

<style lang="postcss" scoped>
.cui-alert { @apply flex items-center border-solid border-snow-d3 border rounded leading-none px-4 py-3; }
.cui-alert__content { @apply w-full; }
.cui-alert__close { @apply ml-auto inline-flex text-sm text-coal-l3 transition-all ease-linear duration-200 flex-shrink-0; }
.cui-alert__close:hover { @apply text-coal-base; }
.cui-alert__title { @apply font-600 text-base text-coal-base }
.cui-alert__text { @apply text-gray leading-tight text-sm }
.cui-alert__title+.cui-alert__text { @apply mt-2px }
.cui-alert__icon+.cui-alert__content { @apply ml-3; }

.cui-alert--blue { @apply text-blue-base }
.cui-alert--blue .cui-alert__close:hover { @apply text-blue-base }

.cui-alert--red { @apply text-red-base }
.cui-alert--red .cui-alert__close:hover { @apply text-red-base }

.cui-alert--green { @apply text-green-base }
.cui-alert--green .cui-alert__close:hover { @apply text-green-base }

.cui-alert--orange { @apply text-orange-base }
.cui-alert--orange .cui-alert__close:hover { @apply text-orange-base }
</style>
