<template>
  <div
  :class="[
    `cui-flag`,
    `cui-flag--${flagSize}`,
    this.rounded ? 'cui-flag--rounded' : ''
  ]">
    <el-tooltip
      :disabled="!tooltipContent"
      :content="tooltipContent"
      :placement="tooltipPlacement"
      :enterable="false"
    >
      <svg v-if="flagCode === 'lt'" viewBox="0 0 37 27" class="cui-flag__icon">
        <rect fill="#118357" x="0" y="9" width="37" height="9" />
        <rect fill="#D8343D" x="0" y="18" width="37" height="9" />
        <rect fill="#FEC34B" x="0" y="0" width="37" height="9" />
      </svg>
      <svg v-if="flagCode === 'nl'" viewBox="0 0 37 27" class="cui-flag__icon">
        <rect fill="#CA2B39" x="0" y="0" width="37" height="9"></rect>
        <rect fill="#FFFFFF" x="0" y="9" width="37" height="9"></rect>
        <rect fill="#2C56A2" x="0" y="18" width="37" height="9"></rect>
      </svg>
      <svg v-if="flagCode === 'us'" viewBox="0 0 37 27" class="cui-flag__icon">
        <g>
          <path class="st0" d="m2.09697,0.01924l32.82568,0c1.11579,0 2.02446,0.95838 2.02446,2.13522l0,22.78275c0,1.17684 -0.90867,2.13522 -2.02446,2.13522l-32.82568,0c-1.11579,0.00705 -2.02446,-0.95134 -2.02446,-2.12817l0,-22.78979c0,-1.17684 0.90867,-2.13522 2.02446,-2.13522l0,0l0,-0.00001z" fill="#B22234" id="svg_2" stroke="null"/>
          <path class="st1" d="m0.08588,1.94305l36.86124,0c0.00668,0.07047 0.01336,0.14094 0.01336,0.21846l0,2.0718l-36.88796,0l0,-2.07885c0,-0.07047 0.00668,-0.14094 0.01336,-0.21141l0,0zm36.86792,4.18588l0,2.28321l-36.88128,0l0,-2.28321l36.88128,0l0,0zm0,4.18588l0,2.28321l-36.88128,0l0,-2.28321l36.88128,0l0,0zm0,4.18588l0,2.28321l-36.88128,0l0,-2.28321l36.88128,0l0,0zm0,4.18588l0,2.28321l-36.88128,0l0,-2.28321l36.88128,0l0,0zm0,4.18588l0,2.06475c0,0.07047 -0.00668,0.14799 -0.01336,0.21846l-36.85456,0c-0.00668,-0.06342 -0.01336,-0.14094 -0.01336,-0.21141l0,-2.06475l36.88128,0l0,-0.00705z" fill="#FFFFFF" id="svg_3" stroke="null"/>
          <path style="vector-effect: non-scaling-stroke;" class="st2" d="m17.8439,-0.0416l0,14.55734l-17.85582,0l0,-12.42441c0,-1.17557 1.1675,-2.13291 2.60111,-2.13291l15.25471,0l0,0l0,0l0,-0.00001z" fill="#3C3B6E" id="svg_4"/>
          <g id="svg_42">
          <polygon class="st1" points="9.920690018845576,4.86932897567749 10.518797509279821,6.384420394897461 8.955171635154855,5.447177886962891 10.886210074432498,5.447177886962891 9.322581413813865,6.384420394897461 9.920690018845576,4.86932897567749 " fill="#FFFFFF" id="svg_24"/>
          <polygon class="st1" points="12.014073480248967,6.335092067718506 12.61218208528068,7.850183963775635 11.04855231006458,6.912940502166748 12.979591306640955,6.912940502166748 11.415963760619789,7.850183963775635 12.014073480248967,6.335092067718506 " fill="#FFFFFF" id="svg_29"/>
          <g id="svg_41">
            <polygon class="st1" points="1.5499154985856762,2.029294729232788 2.1307265262059474,3.5388450622558594 0.5987330675125122,2.6050305366516113 2.5010983476328903,2.6050305366516113 0.9606875185327723,3.5388450622558594 1.5499154985856762,2.029294729232788 " fill="#FFFFFF" id="svg_5"/>
            <polygon class="st1" points="1.5499154985856762,4.950099468231201 2.1307265262059474,6.459649562835693 0.5987330675125122,5.525834560394287 2.5010983476328903,5.525834560394287 0.9606875185327723,6.459649562835693 1.5499154985856762,4.950099468231201 " fill="#FFFFFF" id="svg_6"/>
            <polygon class="st1" points="1.5499154985856762,7.870903491973877 2.1307265262059474,9.38045597076416 0.5987330675125122,8.44664192199707 2.5010983476328903,8.44664192199707 0.9606875185327723,9.38045597076416 1.5499154985856762,7.870903491973877 " fill="#FFFFFF" id="svg_7"/>
            <polygon class="st1" points="1.5499154985856762,10.791709899902344 2.1307265262059474,12.301258087158203 0.5987330675125122,11.367444038391113 2.5010983476328903,11.367444038391113 0.9606875185327723,12.301258087158203 1.5499154985856762,10.791709899902344 " fill="#FFFFFF" id="svg_8"/>
            <polygon class="st1" points="3.7868249791612385,0.5688930749893188 4.376053028876484,2.0784430503845215 2.835642826737441,1.1446280479431152 4.746424850303427,1.1446280479431152 3.197596929445993,2.0784430503845215 3.7868249791612385,0.5688930749893188 " fill="#FFFFFF" id="svg_9"/>
            <polygon class="st1" points="3.6037963718446946,3.4414477348327637 4.19302442155994,4.950998306274414 2.6526142194208973,4.017183303833008 4.563395964337516,4.017183303833008 3.014568322129449,4.950998306274414 3.6037963718446946,3.4414477348327637 " fill="#FFFFFF" id="svg_10"/>
            <polygon class="st1" points="3.6037963718446946,6.410501956939697 4.19302442155994,7.920052528381348 2.6526142194208973,6.986237049102783 4.563395964337516,6.986237049102783 3.014568322129449,7.920052528381348 3.6037963718446946,6.410501956939697 " fill="#FFFFFF" id="svg_11"/>
            <polygon class="st1" points="3.6648058147337537,9.283056259155273 4.254034143098366,10.792603492736816 2.7136236623099563,9.858794212341309 4.6244054072265754,9.858794212341309 3.0755774863691414,10.792603492736816 3.6648058147337537,9.283056259155273 " fill="#FFFFFF" id="svg_12"/>
            <polygon class="st1" points="3.6037963718446946,12.25211238861084 4.19302442155994,13.761659622192383 2.6526142194208973,12.827844619750977 4.563395964337516,12.827844619750977 3.014568322129449,13.761659622192383 3.6037963718446946,12.25211238861084 " fill="#FFFFFF" id="svg_13"/>
            <polygon class="st1" points="5.849122874515231,2.029294729232788 6.43835148152921,3.5388450622558594 4.897941558039534,2.6050305366516113 6.800305862887129,2.6050305366516113 5.2598959393974525,3.5388450622558594 5.849122874515231,2.029294729232788 " fill="#FFFFFF" id="svg_14"/>
            <polygon class="st1" points="5.666093709899954,4.90185022354126 6.255322316913933,6.41140079498291 4.714912393424257,5.477585792541504 6.617277255570585,5.477585792541504 5.076866217483442,6.41140079498291 5.666093709899954,4.90185022354126 " fill="#FFFFFF" id="svg_15"/>
            <polygon class="st1" points="5.666093709899954,7.8226542472839355 6.255322316913933,9.332205772399902 4.714912393424257,8.39838981628418 6.617277255570585,8.39838981628418 5.076866217483442,9.332205772399902 5.666093709899954,7.8226542472839355 " fill="#FFFFFF" id="svg_16"/>
            <polygon class="st1" points="5.72710343143838,10.743460655212402 6.316332038452359,12.253010749816895 4.7759221149626825,11.319192886352539 6.6782869771090105,11.319192886352539 5.137877053619334,12.253010749816895 5.72710343143838,10.743460655212402 " fill="#FFFFFF" id="svg_17"/>
            <polygon class="st1" points="7.850411048330798,0.5688930749893188 8.431222215275753,2.0784430503845215 6.899229174556368,1.1446280479431152 8.801594594001429,1.1446280479431152 7.2611841132130195,2.0784430503845215 7.850411048330798,0.5688930749893188 " fill="#FFFFFF" id="svg_18"/>
            <polygon class="st1" points="7.850411048330798,3.5379457473754883 8.431222215275753,5.047496318817139 6.899229174556368,4.113681316375732 8.801594594001429,4.113681316375732 7.2611841132130195,5.047496318817139 7.850411048330798,3.5379457473754883 " fill="#FFFFFF" id="svg_19"/>
            <polygon class="st1" points="7.72839216255268,6.362252712249756 8.309203329497635,7.8718037605285645 6.777209731479516,6.937987804412842 8.679575150924578,6.937987804412842 7.139164112837435,7.8718037605285645 7.72839216255268,6.362252712249756 " fill="#FFFFFF" id="svg_20"/>
            <polygon class="st1" points="7.789401884091106,9.234809875488281 8.37021305103606,10.744356155395508 6.838219453017942,9.810544967651367 8.740584872463003,9.810544967651367 7.20017383437586,10.744356155395508 7.789401884091106,9.234809875488281 " fill="#FFFFFF" id="svg_21"/>
            <polygon class="st1" points="7.789401884091106,12.203861236572266 8.37021305103606,13.713411331176758 6.838219453017942,12.779596328735352 8.740584872463003,12.779596328735352 7.20017383437586,13.713411331176758 7.789401884091106,12.203861236572266 " fill="#FFFFFF" id="svg_22"/>
            <polygon class="st1" points="9.9042920609145,2.0775437355041504 10.493521782525946,3.58709454536438 8.95311018714007,2.6532795429229736 10.85547393468893,2.6532795429229736 9.315064568497988,3.58709454536438 9.9042920609145,2.0775437355041504 " fill="#FFFFFF" id="svg_23"/>
            <polygon class="st1" points="9.843283453973541,7.726156234741211 10.43250871719512,9.235708236694336 8.892100465601644,8.301894187927246 10.794465327747972,8.301894187927246 9.254054846959562,9.235708236694336 9.843283453973541,7.726156234741211 " fill="#FFFFFF" id="svg_25"/>
            <polygon class="st1" points="9.843283453973541,10.646963119506836 10.43250871719512,12.156513214111328 8.892100465601644,11.222696304321289 10.794465327747972,11.222696304321289 9.254054846959562,12.156513214111328 9.843283453973541,10.646963119506836 " fill="#FFFFFF" id="svg_26"/>
            <polygon class="st1" points="11.966591628164693,0.6171423196792603 12.555819120581205,2.126692056655884 11.015407525195329,1.1928770542144775 12.917773501939124,1.1928770542144775 11.37736413574818,2.126692056655884 11.966591628164693,0.6171423196792603 " fill="#FFFFFF" id="svg_27"/>
            <polygon class="st1" points="11.966591628164693,3.4414477348327637 12.555819120581205,4.950998306274414 11.015407525195329,4.017183303833008 12.917773501939124,4.017183303833008 11.37736413574818,4.950998306274414 11.966591628164693,3.4414477348327637 " fill="#FFFFFF" id="svg_28"/>
            <polygon class="st1" points="11.905579677431334,9.18656063079834 12.49480939904278,10.696109771728516 10.95439891825437,9.762292861938477 12.85675932201083,9.762292861938477 11.316355528807222,10.696109771728516 11.905579677431334,9.18656063079834 " fill="#FFFFFF" id="svg_30"/>
            <polygon class="st1" points="11.905579677431334,12.107364654541016 12.49480939904278,13.616910934448242 10.95439891825437,12.683096885681152 12.85675932201083,12.683096885681152 11.316355528807222,13.616910934448242 11.905579677431334,12.107364654541016 " fill="#FFFFFF" id="svg_31"/>
            <polygon class="st1" points="14.020470411553461,2.0775437355041504 14.60969901856744,3.58709454536438 13.06928853777903,2.6532795429229736 14.971653399925358,2.6532795429229736 13.439659244608507,3.58709454536438 14.020470411553461,2.0775437355041504 " fill="#FFFFFF" id="svg_32"/>
            <polygon class="st1" points="14.020470411553461,4.90185022354126 14.60969901856744,6.41140079498291 13.06928853777903,5.477585792541504 14.971653399925358,5.477585792541504 13.439659244608507,6.41140079498291 14.020470411553461,4.90185022354126 " fill="#FFFFFF" id="svg_33"/>
            <polygon class="st1" points="13.959460690015035,7.8226542472839355 14.548690411626481,9.332207679748535 13.008279930838071,8.398391723632812 14.9106447929844,8.398391723632812 13.378650637667548,9.332207679748535 13.959460690015035,7.8226542472839355 " fill="#FFFFFF" id="svg_34"/>
            <polygon class="st1" points="13.959460690015035,10.743460655212402 14.548690411626481,12.253010749816895 13.008279930838071,11.319195747375488 14.9106447929844,11.319195747375488 13.378650637667548,12.253010749816895 13.959460690015035,10.743460655212402 " fill="#FFFFFF" id="svg_35"/>
            <polygon class="st1" points="16.08277109340112,0.5688930749893188 16.671994127427766,2.0784430503845215 15.13158587583429,1.1446280479431152 17.033950737980618,1.1446280479431152 15.493540257192208,2.0784430503845215 16.08277109340112,0.5688930749893188 " fill="#FFFFFF" id="svg_36"/>
            <polygon class="st1" points="16.08277109340112,3.489696979522705 16.671994127427766,4.999247074127197 15.13158587583429,4.065432548522949 17.033950737980618,4.065432548522949 15.493540257192208,4.999247074127197 16.08277109340112,3.489696979522705 " fill="#FFFFFF" id="svg_37"/>
            <polygon class="st1" points="16.02176025726523,6.362252712249756 16.610985520486807,7.8718037605285645 15.070576154295864,6.937987804412842 16.97294213103966,6.937987804412842 15.432530535653783,7.8718037605285645 16.02176025726523,6.362252712249756 " fill="#FFFFFF" id="svg_38"/>
            <polygon class="st1" points="16.02176025726523,9.283058166503906 16.610985520486807,10.792607307434082 15.070576154295864,9.858794212341309 16.97294213103966,9.858794212341309 15.432530535653783,10.792607307434082 16.02176025726523,9.283058166503906 " fill="#FFFFFF" id="svg_39"/>
            <polygon class="st1" points="16.02176025726523,12.203863143920898 16.610985520486807,13.713411331176758 15.070576154295864,12.779596328735352 16.97294213103966,12.779596328735352 15.432530535653783,13.713411331176758 16.02176025726523,12.203863143920898 " fill="#FFFFFF" id="svg_40"/>
          </g>
          </g>
        </g>
      </svg>
      <svg v-if="flagCode === 'eu'" viewBox="0 0 37 27" class="cui-flag__icon">
        <rect width="37" height="27" style="fill: #3f61ad"/>
        <g>
          <path d="M19.69,3.72h-.46L18.92,3a.43.43,0,0,0-.38-.25.43.43,0,0,0-.41.29l-.21.64h-.61a.41.41,0,0,0-.24.74l.49.37-.19.58a.41.41,0,0,0,.63.45l.5-.35.5.35a.4.4,0,0,0,.62-.45l-.18-.58.49-.37A.41.41,0,0,0,19.69,3.72Z" style="fill: #ffe07e"/>
          <path d="M10.6,12.79h-.46l-.31-.68a.43.43,0,0,0-.39-.25.42.42,0,0,0-.4.3l-.22.63H8.21a.41.41,0,0,0-.24.73l.49.37-.18.58a.41.41,0,0,0,.63.46l.49-.36.5.36a.41.41,0,0,0,.63-.46l-.19-.58.5-.37A.41.41,0,0,0,10.6,12.79Z" style="fill: #ffe07e"/>
          <path d="M28.79,12.79h-.46L28,12.1a.43.43,0,0,0-.39-.25.42.42,0,0,0-.4.3l-.22.63H26.4a.41.41,0,0,0-.24.73l.49.37-.18.58a.41.41,0,0,0,.63.46l.49-.36.5.36a.41.41,0,0,0,.63-.46l-.19-.58.5-.37a.41.41,0,0,0-.24-.73Z" style="fill: #ffe07e"/>
          <path d="M27.54,8.34h-.46l-.31-.68a.42.42,0,0,0-.79,0l-.21.64h-.62a.41.41,0,0,0-.23.74l.49.36-.19.59a.41.41,0,0,0,.63.45l.5-.35.5.35a.4.4,0,0,0,.62-.45l-.18-.59.49-.36A.41.41,0,0,0,27.54,8.34Z" style="fill: #ffe07e"/>
          <path d="M24.05,5.11h-.46l-.31-.68a.43.43,0,0,0-.39-.25.42.42,0,0,0-.4.29l-.22.64h-.61a.41.41,0,0,0-.24.74l.49.36-.18.59a.41.41,0,0,0,.63.45l.5-.36.49.36A.41.41,0,0,0,24,6.8l-.18-.59.49-.36A.41.41,0,0,0,24.05,5.11Z" style="fill: #ffe07e"/>
          <path d="M15.33,5.11h-.46l-.31-.68a.42.42,0,0,0-.79,0l-.21.64h-.62a.41.41,0,0,0-.23.74l.49.36L13,6.8a.41.41,0,0,0,.63.45l.5-.36.5.36a.4.4,0,0,0,.62-.45l-.18-.59.49-.36A.41.41,0,0,0,15.33,5.11Z" style="fill: #ffe07e"/>
          <path d="M24.06,20.83h-.47l-.3-.67a.42.42,0,0,0-.39-.25.42.42,0,0,0-.41.29l-.21.63h-.61a.41.41,0,0,0-.24.74l.49.36-.18.58a.41.41,0,0,0,.62.46l.5-.36.5.36a.41.41,0,0,0,.63-.46l-.19-.58.49-.37a.4.4,0,0,0-.23-.73Z" style="fill: #ffe07e"/>
          <path d="M15.34,20.83h-.46l-.31-.67a.41.41,0,0,0-.39-.25.43.43,0,0,0-.41.29l-.21.63H13a.41.41,0,0,0-.24.74l.49.36-.18.58a.41.41,0,0,0,.63.46l.49-.36.5.36a.41.41,0,0,0,.63-.46l-.19-.58.5-.37a.41.41,0,0,0-.24-.73Z" style="fill: #ffe07e"/>
          <path d="M11.84,8.34h-.46l-.31-.68a.43.43,0,0,0-.39-.25.42.42,0,0,0-.4.29l-.22.64H9.45a.41.41,0,0,0-.24.74l.5.36L9.52,10a.41.41,0,0,0,.63.45l.5-.35.49.35a.41.41,0,0,0,.63-.45l-.18-.59.49-.36A.41.41,0,0,0,11.84,8.34Z" style="fill: #ffe07e"/>
          <path d="M27.54,17.52h-.46l-.31-.68a.42.42,0,0,0-.79,0l-.21.64h-.62a.41.41,0,0,0-.23.74l.49.36-.19.59a.41.41,0,0,0,.63.45l.5-.35.5.35a.4.4,0,0,0,.62-.45l-.18-.59.49-.36a.41.41,0,0,0-.24-.74Z" style="fill: #ffe07e"/>
          <path d="M11.84,17.52h-.46l-.31-.68a.43.43,0,0,0-.39-.25.42.42,0,0,0-.4.29l-.22.64H9.45a.41.41,0,0,0-.24.74l.5.36-.19.59a.41.41,0,0,0,.63.45l.5-.35.49.35a.41.41,0,0,0,.63-.45l-.18-.59.49-.36a.41.41,0,0,0-.24-.74Z" style="fill: #ffe07e"/>
          <path d="M19.69,22h-.46l-.31-.68a.43.43,0,0,0-.38-.25.43.43,0,0,0-.41.29l-.21.64h-.61a.41.41,0,0,0-.24.74l.49.36-.19.58a.41.41,0,0,0,.63.46l.5-.36.5.36a.41.41,0,0,0,.62-.46l-.18-.58.49-.36a.41.41,0,0,0-.24-.74Z" style="fill: #ffe07e"/>
        </g>
      </svg>
      <svg v-if="flagCode === 'sg'" viewBox="0 0 37 27" fill="none" xmlns="http://www.w3.org/2000/svg" class="cui-flag__icon">
        <path d="M0 27V0H37V27H0Z" fill="#F8F8F8"/>
        <path d="M0 13.5V0H37V13.5H0Z" fill="#D80027"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.98189 3.0873C7.2955 3.45563 6.03258 4.95674 6.03258 6.75362C6.03258 8.55058 7.2955 10.0517 8.98189 10.4199C8.72267 10.4765 8.45377 10.5072 8.17757 10.5072C6.10449 10.5072 4.42395 8.82663 4.42395 6.75355C4.42395 4.68046 6.10442 3 8.17757 3C8.44804 3.0001 8.7177 3.02937 8.98189 3.0873ZM11.1249 4.08745L10.8587 3.26818L10.5925 4.08745H9.73099L10.428 4.59382L10.1617 5.41309L10.8587 4.9068L11.5556 5.41309L11.2894 4.59382L11.9864 4.08745H11.1249ZM9.03516 5.69615L8.769 4.87688L8.50278 5.69615H7.6413L8.3383 6.20252L8.072 7.02179L8.769 6.5155L9.46586 7.02179L9.19963 6.20252L9.89663 5.69615H9.03516ZM13.2146 5.69615L12.9484 4.87688L12.6823 5.69615H11.8208L12.5178 6.20252L12.2515 7.02179L12.9484 6.5155L13.6453 7.02179L13.3791 6.20252L14.0761 5.69615H13.2146ZM12.4103 8.10917L12.144 7.2899L11.8779 8.10917H11.0165L11.7134 8.61554L11.4472 9.43481L12.144 8.92852L12.841 9.43481L12.5748 8.61554L13.2717 8.10917H12.4103ZM9.83947 8.10917L9.57332 7.2899L9.30709 8.10917H8.44569L9.14261 8.61554L8.87639 9.43481L9.57332 8.92852L10.2702 9.43481L10.004 8.61554L10.701 8.10917H9.83947Z" fill="white"/>
      </svg>
    </el-tooltip>
  </div>
</template>

<script>
import Tooltip from 'element-ui/lib/tooltip'

export default {
  name: 'CuiFlag',
  components: {
    [Tooltip.name]: Tooltip,
  },
  props: {
    code: {
      type: String,
      default: '',
      required: true
    },
    size: {
      type: String,
      required: false
    },
    rounded: {
      type: Boolean,
      default: true,
      required: false
    },
    tooltipContent: {
      type: String,
      default: null,
      required: false
    },
    tooltipPlacement: {
      type: String,
      default: 'top',
      required: false
    }
  },
  computed: {
    flagSize () {
      return this.size || this.$CHERRY.size
    },
    flagCode () {
      return this.code.toLowerCase()
    }
  }
}
</script>

<style lang="postcss" scoped>
.cui-flag { @apply inline-flex items-center leading-none overflow-hidden box-content border border-snow-d3 }
.cui-flag .cui-flag__icon { @apply w-auto h-full }

.cui-flag--rounded .cui-flag__icon { @apply rounded-xs }

.cui-flag--large .cui-flag__icon { @apply h-10; }
.cui-flag--medium .cui-flag__icon { @apply h-8; }
.cui-flag--normal .cui-flag__icon { @apply h-6; }
.cui-flag--small .cui-flag__icon { @apply h-4; }
.cui-flag--tiny .cui-flag__icon { @apply h-3; }
</style>
