<template>
  <transition name="cui-fade">
    <div class="cui-customizer__planswitcher">
      <el-dropdown trigger="click" @visible-change="visible = arguments[0]" placement="left-start" ref="customizablePlansMenu" class="w-full">
        <cui-button
          :disabled="!isLoaded"
          size="normal"
          color="blue"
          outline
          transparent
          fit
          data-context="customizer"
          data-label="Switch selected plan"
        >
          <repeat-icon class="h-4 w-4 mr-2" />
          Switch selected plan
        </cui-button>
        <el-dropdown-menu slot="dropdown" class="p-0">
          <el-tabs type="card">
            <el-tab-pane v-for="(category, key) in categorizedPlans" :key="key">
              <template slot="label">
                <div class="px-5 flex items-center">
                  {{ key === 'baremetal' ? 'Dedicated Servers' : 'Virtual Servers' }}
                  <div class="bg-blue-base text-white text-3xs flex items-center justify-center w-4 h-4 rounded-full ml-2">
                    {{ category.length }}
                  </div>
                </div>
              </template>
              <div style="height: 280px; width: 100%; margin-top: -10px;">
                <el-scrollbar style="height: 100%" :wrap-style="`overflow-x:hidden;`">
                  <div class="cui-customizer__planswitcher-menu">
                    <div class="cui-customizer__planswitcher-body" v-if="category.length">
                      <div
                        v-for="plan in category"
                        :key="plan.id"
                        class="cui-customizer__planswitcher-item"
                        @click="
                          emitChange(plan);
                          $analytics.track('interaction', {
                            action: 'click',
                            click: {
                              type: 'option',
                              component: 'customizer_plan_switcher',
                              value: plan.title
                            }
                          })
                        "
                      >
                        <div class="flex flex-col gap-1 items-start justify-start">
                          <div class="cui-customizer__planswitcher-flag">
                            <cui-flag v-for="region in plan.plan_regions" :key="region.id" :code="region.country_iso_2" size="tiny" class="cui-customizer__planswitcher-flag" />
                          </div>
                          <div>
                            <div class="cui-customizer__planswitcher-title">
                              {{ plan.title }}
                              <span v-if="planStock(plan.plan_regions)" class="inline-flex items-center ml-1 h-4 px-1 text-white rounded-sm text-2xs font-600 bg-gr-400 uppercase">Stock {{ plan.region.stock_qty }}</span>
                            </div>
                            <div class="cui-customizer__planswitcher-desc">
                              <template v-if="plan.type === 'baremetal' || plan.type === 'server'">
                                {{ `${plan.specs.params.cpus.cores} cores @ ${plan.specs.params.cpus.frequency + plan.specs.params.cpus.unit}` }} /
                                {{ plan.specs.params.memory.total + plan.specs.params.memory.unit }} RAM
                              </template>
                              <template v-else-if="plan.type === 'smart'">
                                {{ `${plan.specs.params.cpus.cores} vCores @ ${plan.specs.params.cpus.frequency + plan.specs.params.cpus.unit}` }} /
                                {{ plan.specs.params.memory.total + plan.specs.params.memory.unit }} RAM
                              </template>
                              <template v-else>
                                {{ `${plan.specs.params.cpus.cores} vCores` }} / {{ plan.specs.params.memory.total + plan.specs.params.memory.unit }} RAM
                              </template>
                            </div>
                          </div>
                        </div>
                        <div class="cui-customizer__planswitcher-price">
                          <template v-if="Object.keys(getSelectedCycle(plan.cycle_list, billing)).length">
                            <template v-if="plan.custom_label && plan.custom_label_color">
                              <div
                                class="inline-flex text-white uppercase font-600 rounded-sm text-2xs h-3 px-3 mb-1"
                                :style="{ backgroundColor: labelBackgroundColor(plan.custom_label_color) }"
                              >
                                {{ plan.custom_label }}
                              </div>
                            </template>
                            <template v-if="billing === 37 || billing === 38">
                              <div class="cui-customizer__planswitcher-title">
                                {{ roundNumber(getSelectedCycle(plan.cycle_list, billing).price, 3) }} {{ currency }}/hr
                              </div>
                              <div class="cui-customizer__planswitcher-desc">
                                {{ roundNumber(getSelectedCycle(plan.cycle_list, billing).price_month, 2) }} {{ currency }}/mo
                              </div>
                            </template>
                            <template v-else>
                              <div class="cui-customizer__planswitcher-title">
                                {{ roundNumber(getSelectedCycle(plan.cycle_list, billing).price_month, 2) }} {{ currency }}/mo
                              </div>
                              <div v-if="getSelectedCycle(plan.cycle_list, billing).save_every_month > 0" class="cui-customizer__planswitcher-desc">
                                {{ roundNumber(getSelectedCycle(plan.cycle_list, billing).price, 2) }} {{ currency }}/{{ getSelectedCycle(plan.cycle_list, billing).shortname }}
                              </div>
                            </template>
                          </template>
                          <template v-else>
                            <div class="text-gray text-xs font-600">
                              Not available <br>
                              in current billing cycle
                            </div>
                          </template>
                        </div>
                      </div>
                    </div>
                  </div>
                </el-scrollbar>
              </div>
            </el-tab-pane>
          </el-tabs>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
  </transition>
</template>

<script>
import { getSelectedCycle, roundNumber, monthlifyPrice } from '../../../utils'
import { CuiButton, CuiFlag } from '../../../components'
import Dropdown from 'element-ui/lib/dropdown'
import DropdownMenu from 'element-ui/lib/dropdown-menu'
import Tabs from 'element-ui/lib/tabs'
import TabPane from 'element-ui/lib/tab-pane'
import Scrollbar from 'element-ui/lib/scrollbar'
import { RepeatIcon } from 'vue-feather-icons'


export default {
  name: 'CuiCustomizerPlanSwitch',
  components: {
    CuiButton,
    CuiFlag,
    [Dropdown.name]: Dropdown,
    [DropdownMenu.name]: DropdownMenu,
    [Tabs.name]: Tabs,
    [TabPane.name]: TabPane,
    [Scrollbar.name]: Scrollbar,
    RepeatIcon,
    // ChevronDownIcon,
    // ChevronUpIcon
  },
  props: {
    plans: {
      type: Array,
      required: true,
      default: () => []
    },
    currency: {
      type: String,
      required: true,
      default: ''
    },
    billing: {
      type: Number,
      required: true
    }
  },
  data: () => ({
    visible: false
  }),
  methods: {
    getSelectedCycle,
    roundNumber,
    monthlifyPrice,
    emitChange(plan) {
      this.$emit('change', plan)
      this.$refs.customizablePlansMenu.hide()
    },
    planStock (regions) {
      if (regions.length > 1 && regions[0].stock_qty < 1 && regions[1].stock_qty < 1) return true
      if (regions.length === 1 && regions[0].stock_qty < 1) return true
      return false
    },
    labelBackgroundColor (color) {
      return { red: '#ff0001', green: '#00b043', blue: '#0054ff' }[color] ?? color
    }
  },
  computed: {
    categorizedPlans () {
      return {
        baremetal: this.plans.filter(plan => plan.type === 'server'),
        virtual: this.plans.filter(plan => ['vps', 'vds', 'smart', 'storage-vps', 'premium-vds', 'performance-vds'].includes(plan.type))
      }
    },
    isLoaded () {
      return this.categorizedPlans.baremetal.length > 0 || this.categorizedPlans.virtual.length > 0
    }
  }
}
</script>

<style lang="postcss" scoped>
.cui-customizer__planswitcher {
  @apply leading-none;
}
.cui-customizer__planswitcher-head {
  @apply px-5 py-1 text-coal-base font-600 text-md;
}
.cui-customizer__planswitcher-body {
  @apply text-base;
}
.cui-customizer__planswitcher-trigger {
  @apply bg-transparent text-blue-base border border-blue-base py-1 px-2 rounded-sm text-xs inline-flex items-center transition-all duration-200 ease-linear;
}
.cui-customizer__planswitcher-trigger:hover {
  @apply bg-blue-base text-white;
}
.cui-customizer__planswitcher-trigger:focus {
  @apply outline-none text-white bg-blue-base;
}
.cui-customizer__planswitcher-group+.cui-customizer__planswitcher-group {
  @apply mt-5;
}
.cui-customizer__planswitcher-item {
  @apply px-5 py-3 flex items-center leading-none cursor-pointer transition-all duration-200 ease-linear;
}
.cui-customizer__planswitcher-item:hover {
  @apply shadow-raised;
}
.cui-customizer__planswitcher-item+.cui-customizer__planswitcher-item {
  @apply border-t border-snow-d3;
}
.cui-customizer__planswitcher-title {
  @apply text-coal-base font-600 flex items-center;
}
.cui-customizer__planswitcher-desc {
  @apply text-2xs mt-1 text-gray;
}
.cui-customizer__planswitcher-flag {
  @apply mr-1;
}
.cui-customizer__planswitcher-price {
  @apply ml-auto text-right;
  .cui-customizer__planswitcher-title {
    @apply justify-end;
  }
}
</style>
