<template>
  <c-collapser :visibleInitially="true">
    <div class="cui-customizer__group" slot-scope="{ visible, toggle }">
      <div class="cui-customizer__group-head" @click="toggle">
        <component :is="visible ? 'ChevronUpIcon' : 'ChevronDownIcon'" size="16" class="cui-customizer__group-collapser" />
        <slot name="title" />
        <div class="cui-customizer__group-action" v-if="$slots.action">
          <slot name="action" />
        </div>
      </div>
      <div class="cui-customizer__group-body" v-show="visible">
        <slot />
      </div>
    </div>
  </c-collapser>
</template>

<script>
import { ChevronDownIcon, ChevronUpIcon } from 'vue-feather-icons'
import { CCollapser } from '../../renderless/Collapser'

export default {
  name: 'CuiCustomizerGroup',
  components: {
    CCollapser,
    ChevronDownIcon,
    ChevronUpIcon
  }
}
</script>

<style lang="postcss" scoped>
.cui-customizer__group { @apply shadow-raised rounded; }
.cui-customizer__group-collapser { @apply font-600 text-coal-l3 mr-1 outline-none transition-all ease-linear duration-200; }
.cui-customizer__group-collapser:hover { @apply text-blue-base; }
.cui-customizer__group+.cui-customizer__group { @apply mt-10; }
.cui-customizer__group-head { @apply bg-snow-l1 h-12 flex px-6 items-center text-base font-600 font-secondary rounded-t leading-none cursor-pointer transition-all ease-linear duration-200; }
.cui-customizer__group-head:hover { @apply bg-snow-d3; }
.cui-customizer__group-head:active { @apply bg-snow-d1; }
.cui-customizer__group-head:hover .cui-customizer__group-collapser { @apply text-coal-l2; }
.cui-customizer__group-head:active .cui-customizer__group-collapser { @apply text-blue-base; }
.cui-customizer__group-action { @apply ml-auto font-500 font-primary text-xs; }
</style>
