
<template>
  <div class="cui-customizer">
    <c-customizer-form :options="options" @change="$emit('configChange', { c: arguments[0] })" @commentsChange="$emit('commentsChange', arguments[0])" :key="id">
      <template slot-scope="{ form, setForm, refreshForm, formRules, categories, comments, storageSlots, setComment, processComment }">
        <el-form v-loading="loading" ref="customizerForm" :model="comments" :rules="formRules" class="cui-customizer__form" @submit.native.prevent>
          <cui-customizer-group v-for="(category, key) in categories" :key="key">
            <template slot="title">
              {{ key }}
            </template>
            <template slot="action" v-if="key === 'Storage' && storageSlots.free > 0">
              Up to {{ storageSlots.free }} disks more
            </template>
            <template v-for="(component, index) in category">
              <c-customizer-component :component="component" :billing="parseInt(billing)" :key="component.id" @commentChange="setComment" @requiredChange="processComment" @optionChange="refreshForm">
                <div slot-scope="{ editableOptions, title, slug, selectedOption, isEditable, comment, updateComment }" :class="[
                  `cui-customizer__component`,
                  `cui-customizer__component--${slugifyString(slugifyString(component.title))}`,
                  isEditable ? 'is-editable' : '',
                  selectedOption && selectedOption.title.toLowerCase() === 'none' ? 'not-selected' : ''
                ]">
                  <div class="cui-customizer__component-name">
                    <span>
                      {{ title }}
                    </span>
                    <span v-if="['elastic_block_storage', 'traffic', 'backup_storage'].includes(slug)">
                      <el-tooltip
                        :enterable="true"
                        placement="top"
                      >
                        <div slot="content">
                          <p v-if="slug === 'elastic_block_storage'">
                            For more information please read our <a href="https://docs.cherryservers.com/knowledge/elastic-block-storage" target="_blank" class="inline-flex items-center justify-center text-blue-l3 focus:outline-none font-600 transition-all ease-linear duration-200">docs</a>
                          </p>
                          <p v-if="slug === 'backup_storage'">
                            For activation details please refer to our <a href="https://docs.cherryservers.com/knowledge/backup-storage" target="_blank" class="inline-flex items-center justify-center text-blue-l3 focus:outline-none font-600 transition-all ease-linear duration-200">docs</a>
                          </p>
                          <p v-if="slug === 'traffic'">
                            Ingress traffic unmetered
                          </p>
                        </div>
                        <info-icon 
                          class="w-4 h-4 text-blue-base"
                        />
                      </el-tooltip>
                    </span>
                  </div>
                  <div class="cui-customizer__component-options">
                    <template v-if="isEditable">
                      <el-select
                        :ref="`select_${component.id}`"
                        :value="form[component.id]"
                        @change="
                          setForm({key: component.id, value: arguments[0]});
                          $analytics.track('interaction', {
                            action: 'click',
                            click: {
                              type: 'option',
                              component: snakeCase(`customizer_${key}_${component.title}`),
                              value: editableOptions.find(option => option.id === arguments[0]).title
                            }
                          })
                        "
                        :popper-append-to-body="false"
                        size="small"
                      >
                        <el-option v-for="option in editableOptions" :key="option.id" :value="option.id" :label="option.title" :disabled="option.disabled || option.stock_qty < 1" class="cursor-pointer">
                          <div class="cui-customizer__component-option">
                            <div class="cui-customizer__component-heading">
                              {{ option.title }}
                              <span v-if="!option.disabled && option.stock_qty < 1" class="inline-flex items-center ml-1 h-4 px-1 text-white rounded-sm text-2xs font-600 bg-gr-400 uppercase">Stock {{ option.stock_qty }}</span>
                              <span v-if="option.title.startsWith('VMware')" class="inline-flex items-center ml-1 h-4 px-1 text-white rounded-sm text-2xs font-600 bg-blue-base">Trial</span>
                            </div>
                            <div class="cui-customizer__component-price">
                              <template v-if="option.disabled && ['stock', 'request'].includes(option.disabled_type) || component.slug === 'gpu' && ['stock', 'request'].includes(option.disabled_type)">
                              <div :class="{ 'flex gap-2' : isAdmin && !option.title.includes('Custom') }">
                                <button
                                  class="text-coal-base hover:text-blue-base font-600 text-sm rounded-full focus:outline-none"
                                  :data-context="snakeCase(`customizer_${key}_${component.title}`)"
                                  data-label="Contact Sales"
                                  @click="openComponentContactSalesModal(option.disabled_type, component, option)"
                                >
                                  Contact Sales
                                </button>
                                <div class="flex flex-col" v-if="isAdmin">
                                  <div class="cui-customizer__component-price--primary">{{ option.title.includes('Custom') ? '' : `${roundNumber(getSelectedCycle(option.price_list, billing).price, 2)} ${currency}/${getSelectedCycle(option.price_list, billing).shortname}` }}</div>
                                  <div v-if="billing !== 3" class="cui-customizer__component-price--secondary">
                                    {{ option.title.includes('Custom') ? '' : `${roundNumber(getSelectedCycle(option.price_list, billing).price_month, 2)} ${currency}/mo` }}
                                  </div>
                                </div>
                              </div>
                              </template>
                              <template v-else-if="option.disabled && option.disabled_type === 'condition'">
                                <span class="text-coal-base font-600 text-xs rounded-full">{{ option.disabled_note }}</span>
                              </template>
                              <template v-else-if="option.pay_once">
                                <div class="cui-customizer__component-price--primary">
                                  <template v-if="option.price_list[0].price > 0 || option.price_list[0].price < 0">
                                    {{ `${roundNumber(getSelectedCycle(option.price_list, billing).price, 2)} ${currency}` }}
                                  </template>
                                  <template v-else-if="option.title.toLowerCase() !== 'none'">Included</template>
                                </div>
                              </template>
                              <template v-else>
                                <div class="cui-customizer__component-price--primary">
                                  <template v-if="(getSelectedCycle(option.price_list, billing).price > 0 || getSelectedCycle(option.price_list, billing).price < 0)">
                                    {{ `${roundNumber(getSelectedCycle(option.price_list, billing).price, 2)} ${currency}/${getSelectedCycle(option.price_list, billing).shortname}` }}
                                  </template>
                                  <template v-else-if="option.title.toLowerCase() !== 'none'">Included</template>
                                </div>
                                <div v-if="billing !== 3 && option.price_list[0].price_month > 0 || option.price_list[0].price_month < 0" class="cui-customizer__component-price--secondary">
                                  {{ `${roundNumber(getSelectedCycle(option.price_list, billing).price_month, 2)} ${currency}/mo` }}
                                </div>
                              </template>
                            </div>
                          </div>
                        </el-option>
                      </el-select>
                    </template>
                    <template v-else>
                      <div class="cui-customizer__component-option">
                        {{ selectedOption.title }}
                      </div>
                    </template>

                    <div class="cui-customizer__component-price">
                      <div>
                        <template v-if="selectedOption && selectedOption.pay_once">
                          <div class="cui-customizer__component-price--primary">
                            <template v-if="selectedOption && selectedOption.price_list[0].price > 0 || selectedOption && selectedOption.price_list[0].price < 0">
                              {{ `${roundNumber(getSelectedCycle(selectedOption.price_list, billing).price, 2)} ${currency}` }}
                            </template>
                            <template v-else-if="selectedOption && selectedOption.title.toLowerCase() !== 'none'">Included</template>
                          </div>
                        </template>
                        <template v-else>
                          <div class="cui-customizer__component-price--primary">
                            <template v-if="selectedOption && (getSelectedCycle(selectedOption.price_list, billing).price > 0 || getSelectedCycle(selectedOption.price_list, billing).price < 0)">
                              {{ `${roundNumber(getSelectedCycle(selectedOption.price_list, billing).price, 2)} ${currency}/${getSelectedCycle(selectedOption.price_list, billing).shortname}` }}
                            </template>
                            <template v-else-if="selectedOption && selectedOption.title.toLowerCase() !== 'none'">Included</template>
                          </div>
                          <div v-if="billing !== 3 && selectedOption && selectedOption.price_list[0].price > 0 || selectedOption && selectedOption.price_list[0].price < 0" class="cui-customizer__component-price--secondary">
                            {{ `${roundNumber(getSelectedCycle(selectedOption.price_list, billing).price_month, 2)} ${currency}/mo` }}
                          </div>
                        </template>
                      </div>
                    </div>
                  </div>
                  <portal v-if="selectedOption && selectedOption.comment_required" :disabled="!selectedOption.comment_required" :to="`comment[${component.id}]`">
                    <div class="cui-customizer__component">
                      <div class="cui-customizer__component-name">
                        {{ component.title }} comment
                      </div>
                      <div class="cui-customizer__component-options">
                        <el-form-item :prop="`${selectedOption.id}`" class="cui-customizer__component-comment" size="small">
                          <el-input :value="comment" type="text" @input="updateComment" :placeholder="`Enter ${component.title} comment`" />
                        </el-form-item>
                      </div>
                    </div>
                  </portal>
                </div>
              </c-customizer-component>
              <portal-target :name="`comment[${component.id}]`" :key="`comment[${component.id}]`" slim/>
            </template>
          </cui-customizer-group>
          <component-contact-sales-modal ref="componentContactSalesModal" />
        </el-form>
      </template>
    </c-customizer-form>
  </div>
</template>

<script>
import { snakeCase } from 'cherry-analytics/utils/strings'
import { getSelectedCycle, monthlifyPrice, slugifyString, roundNumber } from '../../../utils'
import { CCustomizerForm, CCustomizerComponent } from '../../renderless/Customizer'
import CuiCustomizerGroup from './CustomizerGroup'
import ComponentContactSalesModal from '../../common/Modals/ComponentContactSalesModal'
import Tooltip from 'element-ui/lib/tooltip'
import Form from 'element-ui/lib/form'
import FormItem from 'element-ui/lib/form-item'
import Input from 'element-ui/lib/input'
import Select from 'element-ui/lib/select'
import Option from 'element-ui/lib/option'
import { InfoIcon } from 'vue-feather-icons'

export default {
  name: 'CuiCustomizerForm',
  components: {
    CCustomizerForm,
    CCustomizerComponent,
    CuiCustomizerGroup,
    ComponentContactSalesModal,
    [Form.name]: Form,
    [FormItem.name]: FormItem,
    [Input.name]: Input,
    [Select.name]: Select,
    [Option.name]: Option,
    [Tooltip.name]: Tooltip,
    InfoIcon
  },
  props: {
    loading: {
      type: Boolean,
      required: false,
      default: false
    },
    id: {
      type: Number,
      required: true
    },
    options: {
      type: Array,
      required: true,
      default: () => []
    },
    isAdmin: {
      type: Boolean,
      required: false,
      default: false
    },
    billing: {
      type: Number,
      required: true
    },
    currency: {
      type: String,
      required: true
    }
  },
  methods: {
    roundNumber,
    getSelectedCycle,
    monthlifyPrice,
    slugifyString,
    snakeCase,
    validate() {
      return this.$refs.customizerForm.validate()
    },
    openComponentContactSalesModal(context, component, option) {
      this.$refs[`select_${component.id}`][0].blur()
      this.$refs.componentContactSalesModal.open(context, {
        id: option.id,
        title: option.title
      })
    }
  }
}
</script>

<style lang="postcss" scoped>
.cui-customizer {
  @apply font-primary w-full text-gray text-base;
}
.cui-customizer__component {
  @apply px-6 py-4;
}
.cui-customizer__component.is-editable {
  @apply transition-all ease-linear duration-200;
}
.cui-customizer__component.is-editable:hover {
  @apply shadow-poped;
}
.cui-customizer__component+.cui-customizer__component {
  @apply border-solid border-snow-l1 border-t;
}
.cui-customizer__component--disk.not-selected+.cui-customizer__component--disk.not-selected {
  display: none;
}
.cui-customizer__component-name {
  @apply w-full text-coal-base text-xs font-600 leading-none flex gap-2 items-center;
}
.cui-customizer__component-options {
  @apply w-full relative;
}
.cui-customizer__component-options > .cui-customizer__component-price {
  @apply absolute right-0 top-0 h-full flex items-center pr-8;
}
.cui-customizer__component-options .el-select {
  @apply w-full;
}
.cui-customizer__component-name+.cui-customizer__component-options {
  @apply mt-2;
}
.cui-customizer__component-option {
  @apply flex items-center w-full h-full leading-none;
}
.cui-customizer__component-price {
  @apply ml-auto leading-none text-right;
}
.cui-customizer__component-price--primary {
  @apply font-600 text-coal-base text-sm;
}
.cui-customizer__component-price--secondary {
  @apply text-xs text-gray font-400;
}
.cui-customizer__component-price--primary+.cui-customizer__component-price--secondary {
  @apply mt-px;
}
.cui-customizer__component.is-editable .cui-customizer__component-options > .cui-customizer__component-price {
  @apply pointer-events-none;
}
.cui-customizer__component-comment {
  @apply mb-0 !important;
}

@screen lg {
  .cui-customizer__component {
    @apply flex items-center;
  }
  .cui-customizer__component-name {
     @apply w-1/3;
  }
  .cui-customizer__component-name+.cui-customizer__component-options {
    @apply mt-0 ml-4;
  }
}
</style>
