<template>
  <c-customizer-regions
    :regions="regions"
    :region="region"
    :stock-attribute="stockAttribute"
    @regionChange="$emit('regionChange', arguments[0])"
  >
    <div
      v-loading="loading"
      slot-scope="{ regions, setRegion, currentRegion }"
      class="cui-customizer__regions"
      :class="{'flex-wrap' : Object.keys(regions).length > 3}"
    >
      <div 
        v-for="region in regions"
        :key="region.id" class="cui-customizer__regions-item"
        :class="{ 'is-active' : currentRegion === region.slug }"
      >
        <button
          class="cui-customizer__regions-trigger"
          data-interaction-ignore
          @click="
            setRegion(region.slug);
            $analytics.track('interaction', {
              action: 'click',
              click: {
                type: 'option',
                component: getClosestAttribute($event.target, 'data-context'),
                value: region.name
              }
            })
          "
        >
          <div class="cui-customizer__regions-content">
            <template>
              <div
                v-if="region.custom_label && region.custom_label_color"
                class="absolute top-0 right-0 ml-1 rounded-sm text-white text-2xs h-3 px-3"
                :style="{ backgroundColor: labelBackgroundColor(region.custom_label_color) }"
              >
                <span>{{ region.custom_label }}</span>
              </div>
            </template>
            <div class="cui-customizer__regions-info">
              <div class="cui-customizer__regions-location">
                <cui-flag :code="region.iso" size="normal" />
              </div>
              <div>
                <div class="cui-customizer__regions-title">
                  {{ region.name }}
                  <el-tooltip content="Speedtest this region" class="cui-customizer__regions-speedtest" placement="top">
                    <a :href="region.speedtest_url" target="_blank" @click.stop>
                      <download-cloud-icon size="16" />
                    </a>
                  </el-tooltip>
                </div>
                <div class="cui-customizer__regions-description">
                  {{ region.location }}
                </div>
              </div>
            </div>
            <div class="cui-customizer__regions-stock">
              <template v-if="region.stock > 0">
                <div class="font-600 text-coal-base text-md">{{ region.stock }}</div>
                <div class="text-xs mt-1">In stock</div>
              </template>
              <template v-else>
                <div class="text-xs">Out of stock</div>
              </template>
            </div>
          </div>
          <div class="cui-customizer__regions-state">
            <check-icon class="w-4 h-4" />
          </div>
        </button>
      </div>
    </div>
  </c-customizer-regions>
</template>

<script>
import { getClosestAttribute } from 'cherry-analytics/utils/dom'
import { CheckIcon, DownloadCloudIcon } from 'vue-feather-icons'
import { CCustomizerRegions } from '../../renderless/Customizer'
import Tooltip from 'element-ui/lib/tooltip'
import { CuiFlag } from '../Flag'

export default {
  name: 'CuiCustomizerRegions',
  components: {
    CCustomizerRegions,
    CuiFlag,
    [Tooltip.name]: Tooltip,
    CheckIcon,
    DownloadCloudIcon
  },
  props: {
    loading: {
      type: Boolean,
      required: false,
      default: false
    },
    regions: {
      type: Array,
      required: true,
      default: () => []
    },
    region: {
      type: String,
      required: false
    },
    stockAttribute: {
      type: String,
      required: false,
      default: 'stock_qty'
    }
  },
  methods: {
    getClosestAttribute,
    labelBackgroundColor (color) {
      return { red: '#ff0001', green: '#00b043', blue: '#0054ff' }[color] ?? color
    }
  }
}
</script>

<style lang="postcss" scoped>
.cui-customizer__regions { @apply -m-3 text-gray leading-none; }
.cui-customizer__regions-item { @apply p-1; }
.cui-customizer__regions-trigger { @apply relative text-left appearance-none w-full m-px py-3 px-2 rounded border rounded border-solid border-snow-d3 transition-colors ease-linear duration-200; }
.cui-customizer__regions-trigger:hover { @apply border-coal-l3 shadow-poped; }
.cui-customizer__regions-trigger:focus { outline: 0; }
.cui-customizer__regions-item.is-active .cui-customizer__regions-trigger { @apply m-0 bg-white border-2 border-blue-base; }
.cui-customizer__regions-item.is-active .cui-customizer__regions-title { @apply text-coal-base; }
.cui-customizer__regions-state { @apply flex items-center justify-center absolute top-0 left-0 w-5 h-4 bg-blue-base text-white rounded-br-sm opacity-0 transition-all ease-linear duration-200; }
.cui-customizer__regions-item.is-active .cui-customizer__regions-state { @apply opacity-100; }
.cui-customizer__regions-content { @apply flex items-center w-full static; }
.cui-customizer__regions-info { @apply w-full flex; }
.cui-customizer__regions-stock { @apply ml-auto text-center w-full; }
.cui-customizer__regions-title { @apply text-base text-gray font-600 leading-none transition-all ease-linear duration-200 flex items-center; }
.cui-customizer__regions-trigger:hover .cui-customizer__regions-title { @apply text-coal-base; }
.cui-customizer__regions-title+.cui-customizer__regions-description { @apply mt-1; }
.cui-customizer__regions-description { @apply text-xs flex items-center; }
.cui-customizer__regions-speedtest { @apply text-xs text-coal-l3 ml-1 inline-flex outline-none duration-200 ease-linear transition-all; }
.cui-customizer__regions-speedtest:hover { @apply text-blue-d1 underline; }
.cui-customizer__regions-speedtest:active { @apply text-blue-d2; }
.cui-customizer__regions-speedtest:focus { @apply text-blue-d3; }
.cui-customizer__regions-location { @apply flex items-center mr-3 h-auto; }

@screen md {
  .cui-customizer__regions { @apply flex; }
  .cui-customizer__regions-item { @apply flex items-center w-1/3; }
  .cui-customizer__regions-stock { @apply w-1/2; }
}
</style>
