<template>
  <c-customizer-billing :plan="plan" :pricing="pricing" ref="billing">
    <template slot-scope="{ pricing, isHourly, isMonthly, selectedBilling }">
      <div class="cui-customizer__billing">
        <div class="cui-customizer__billing-head">
          <slot name="head">
            <h3 class="cui-customizer__billing-title">Select billing cycle</h3>
          </slot>
        </div>
        <div class="cui-customizer__billing-body" v-loading="loading">
          <div v-for="billing in pricing" :key="billing.id" :class="{ 'is-active cui-customizer__billing-item': billing.id === b, 'cui-customizer__billing-item' : !(!['Spot Server', 'Hourly', 'Monthly'].includes(billing.name) && [161, 113, 86].includes(plan.id)) }">
            <div v-if="!(!['Spot Server', 'Hourly', 'Monthly'].includes(billing.name) && [161, 113, 86].includes(plan.id))" class="cui-customizer__billing-trigger" @click="handleCycleClick($event, billing)">
              <div class="cui-customizer__billing-state"></div>
              <div class="cui-customizer__billing-title">
                <span class="text-sm">{{ billing.name }}</span>
                <span v-if="billing.subtitle" class="block mt-1 text-2xs font-600">{{ billing.subtitle }}</span>
              </div>
              <div class="cui-customizer__billing-price">
                <template v-if="isHourly(billing.id)">
                  <div
                    class="is-primary"
                    :class="{
                      'text-red-base' : isDiscountShown(billing),
                      'text-coal-base' : !billing.discount_amount
                    }"
                  >
                    <span>
                      {{ roundNumber(billing.price_without_vat, 3) }} {{ currency }}/hr
                    </span>
                  </div>
                  <div v-if="isDiscountShown(billing)" class="text-coal-base font-600 line-through">
                    {{ roundNumber(billing.original_price, 3) }} {{ currency }}/hr
                  </div>
                </template>
                <template v-else>
                  <div class="is-primary text-coal-base">
                    <div>
                      <el-tooltip v-if="plan.custom_label === 'Cheaper Each Month'" placement="top">
                        <div slot="content">
                          Start from <span class="text-blue-l4 font-600">{{ currency === 'EUR' ? '€' : '$' }}{{ roundNumber(billing.price_month_without_vat, 2) }}</span> and pay <span class="text-blue-l4 font-600">{{ currency === 'EUR' ? '€' : '$' }}{{ roundNumber(billing.discount_progressive_step_amount) }}</span> less each month <br class="hidden sm:block">
                          until your price reaches <span class="text-blue-l4 font-600">{{ currency === 'EUR' ? '€' : '$' }}{{ roundNumber(billing.price_month_without_vat - billing.discount_progressive_total_amount) }}/mo</span>.
                        </div>
                        <div class="flex items-center mt-1 text-red-base">
                          <info-icon size="14" class="mr-1" />
                          <span class="text-2xs font-700">{{ plan.custom_label }}</span>
                        </div>
                      </el-tooltip>
                      <div
                        class="is-primary"
                        :class="{
                          'text-red-base' : isDiscountShown(billing),
                          'text-coal-base' : !billing.discount_amount
                        }"
                      >
                        <span>
                          {{ roundNumber(billing.price_month_without_vat, 2) }} {{ currency }}/mo
                        </span>
                      </div>
                      <div
                        v-if="isDiscountShown(billing)"
                        class="text-coal-base line-through"
                      >
                        {{ roundNumber(billing.original_price / billing.months, 2) }} {{ currency }}/mo
                      </div>
                    </div>
                  </div>
                  <div class="is-secondary whitespace-no-wrap">
                    <template v-if="!isMonthly(billing.id)">
                      <span>
                        {{ `${roundNumber(billing.price, 2)} ${currency}/${billing.shortname}` }}
                      </span>
                    </template>
                  </div>
                </template>
              </div>
            </div>
          </div>
        </div>
        <div v-if="typeof selectedBilling.one_time_fee !== 'undefined' && selectedBilling.one_time_fee > 0" class="my-6">
          <div class="text-coal-base font-600 flex items-center leading-tight">
            <info-icon class="w-5 h-5 mr-2 text-blue-base" />
            Additional setup fees included
          </div>
          <div class="mt-2 -my-1">
            <div v-for="(fee, index) in selectedBilling.one_time_fees" :key="index" class="flex items-center border-t first:border-0 py-2">
              <div>{{ fee.title }}</div>
              <div class="ml-auto font-600 text-coal-base">{{ roundNumber(fee.fee, 2) }} {{ currency }}</div>
            </div>
            <div class="flex items-center border-t first:border-0 py-2" v-if="selectedBilling.one_time_fees.length > 1">
              <div>Setup fee in total</div>
              <div class="ml-auto font-600 text-coal-base text-base">{{ selectedBilling.one_time_fee }} {{ currency }}</div>
            </div>
          </div>
        </div>
        <!-- <div class="cui-customizer__billing__fee">
          {{ selectedBilling }}
          <strong>{{ roundNumber(selectedBilling.one_time_fee, 2) }} {{ currency }}</strong>&nbsp;custom server set-up fee
        </div> -->
        <div v-loading="loading" class="cui-customizer__billing-footer" v-if="$scopedSlots.footer">
          <slot name="footer" v-bind="{ loading }" />
        </div>
      </div>
    </template>
  </c-customizer-billing>
</template>

<script>
import { roundNumber } from '../../../utils'
import { getClosestAttribute } from 'cherry-analytics/utils/dom'
import { CCustomizerBilling } from '../../renderless/Customizer'
import { InfoIcon } from 'vue-feather-icons'
import Tooltip from 'element-ui/lib/tooltip'

export default {
  name: 'CuiCustomizerBilling',
  components: {
    CCustomizerBilling,
    InfoIcon,
    [Tooltip.name]: Tooltip,
  },
  props: {
    loading: {
      type: Boolean,
      required: false,
      default: false
    },
    currency: {
      type: String,
      required: true,
      default: ''
    },
    plan: {
      type: Object,
      required: false,
      default: () => {}
    },
    pricing: {
      type: Array,
      required: true,
      default: () => []
    }
  },
  data: () =>({
    b: null
  }),
  watch: {
    pricing: {
      handler () {
        const newSelectedCycleId = this.pricing.find(billing => billing.selected).id

        if (newSelectedCycleId !== this.b) {
          this.b = newSelectedCycleId
          this.$emit('billingChange', { b: newSelectedCycleId })
        }
      }
    }
  },
  methods: {
    roundNumber,
    handleCycleClick (event, b) {
      if (!this.loading && b.id !== this.b) {
        this.setBilling(b.id)
        this.$analytics.track('interaction', {
          action: 'click',
          click: {
            type: 'option',
            component: getClosestAttribute(event.target, 'data-context'),
            value: b.name
          }
        })
      }
    },
    setBilling(b, silent = false) {
      this.b = b
      const payload = {
        b: this.b
      }
      if (b === 38) payload.c = []
      if (!silent) this.$emit('billingChange', payload)
    },
    isDiscountShown(billing) {
      if (billing.discount_percent) {
        if (billing.id === 6 && billing.discount_percent > 15 && ['premium-vds', 'performance-vds'].includes(this.plan.type)) return true
        if ([3, 38, 37].includes(billing.id) && billing.discount_percent > 0) return true
      } else {
        return false
      }
    }
  },
  created () {
    this.b = this.pricing.find(billing => billing.selected).id
  },
  mounted () {
    if (this.$route.query.billing || this.$route.query.b) this.setBilling(parseInt(this.$route.query.billing || this.$route.query.b), true)
    else if (this.$store.getters['billing/getBilling']) this.setBilling(parseInt(this.$store.getters['billing/getBilling']), true)
    else this.setBilling(this.$refs.billing.selectedBilling.id, true)
  }
}
</script>

<style lang="postcss" scoped>
h3 { @apply text-coal-base font-600 font-secondary text-lg }
.cui-customizer__billing-body { @apply text-base bg-white rounded-sm shadow-raised }
.cui-customizer__billing-head+.cui-customizer__billing-body,
.cui-customizer__billing-body+.cui-customizer__billing-footer {
  @apply relative mt-4
}
.cui-customizer__billing-item+.cui-customizer__billing-item { @apply border-t py-px border-snow-d3; }
.cui-customizer__billing-trigger { @apply relative flex items-center h-14 px-3 text-gray leading-none rounded-sm border border-transparent cursor-pointer transition-colors ease-linear duration-150; }
.cui-customizer__billing-trigger:hover { @apply bg-white text-coal-base border-coal-l3 shadow-poped; }
.cui-customizer__billing-trigger:hover .cui-customizer__billing-state { @apply border-4 border-coal-l3; }
.cui-customizer__billing-item.is-active .cui-customizer__billing-trigger { @apply bg-white text-blue-base shadow-outline-blue; }
.cui-customizer__billing-item.is-active .cui-customizer__billing-trigger:hover { @apply border-transparent; }
.cui-customizer__billing-item.is-active .is-primary { @apply text-blue-base; }
.cui-customizer__billing-item.is-active .cui-customizer__billing-state { @apply border-4 border-blue-base; }
.cui-customizer__billing-state { @apply flex flex-shrink-0 items-center justify-center mr-3 w-4 h-4 bg-white text-white rounded-full border border-snow-d1 transition-border ease-linear duration-200; }
.cui-customizer__billing-title { @apply mr-4 font-600; }
.cui-customizer__billing-price { @apply ml-auto text-right; }
.cui-customizer__billing-price .is-primary { @apply font-600; }
.cui-customizer__billing-price .is-primary+.is-secondary { @apply mt-1; }
.cui-customizer__billing-price .is-secondary { @apply text-gray text-xs; }
.cui-customizer__billing__fee { @apply h-12 flex items-center justify-center text-xs font-primary; }
.cui-customizer__billing__fee strong { @apply font-600 text-coal-base; }
</style>
