<template>
  <cui-modal
    ref="modal"
    identificator="component_waiting_list"
    :analytics-properties="{ form_id: '6b7df5ad-d483-42fa-a2c5-40d4c08e3d0a' }"
    size="max-w-sm"
  >
    <template #header>
      <div v-if="Object.keys(component).length !== 0" class="flex items-start text-coal-base sm:text-md md:text-lg">
        {{ component.title }}<br>
        <template v-if="context === 'stock'">
          is out of stock
        </template>
        <template v-if="context === 'request'">
          available upon request
        </template>
      </div>
    </template>
    <div class="md:text-md leading-normal">
      <p>
        <template v-if="context === 'stock'">
          Leave your email here and our sales engineer will contact you with the best possible alternative.
        </template>
        <template v-if="context === 'request' && component.title !== 'Custom GPU'">
          Leave your email here and our sales engineer will contact you in the nearest future.
        </template>
        <template v-if="context === 'request' && component.title === 'Custom GPU'">
          Make a request and your account manager will reach out to you shortly.
        </template>
      </p>
    </div>
    <el-form
      ref="form"
      v-loading="$wait.is('COMPONENT_WAITING_LIST')"
      :model="form"
      :rules="formRules"
      class="mt-4"
      @submit.native.prevent
      @keyup.enter.prevent="handleSubmit"
    >
      <div class="flex flex-col">
        <el-form-item
          prop="email"
          label="Your email"
        >
          <el-input v-model="form.email" type="email" placeholder="example@cherryservers.com" auto-complete="off" clearable />
        </el-form-item>
        <el-form-item
          v-if="context === 'request' && component.title === 'Custom GPU'"
          prop="gpu"
          label="GPU model and/or details"
        >
          <el-input v-model="form.gpu" type="gpu" placeholder="Enter your wanted GPU model" auto-complete="off" clearable />
        </el-form-item>
        <div class="w-full">
          <cui-button fit :disabled="$wait.is('COMPONENT_WAITING_LIST')" @click="handleSubmit">
            Contact Sales
          </cui-button>
        </div>
      </div>
    </el-form>
  </cui-modal>
</template>

<script>
import axios from 'axios'
import { CuiButton } from '../../ui/Button' 
import { CuiModal } from '../../ui/Modal'
import Form from 'element-ui/lib/form'
import FormItem from 'element-ui/lib/form-item'
import Input from 'element-ui/lib/input'

export default {
  name: 'ComponentWaitingListModal',
  components: {
    CuiButton,
    CuiModal,
    [Form.name]: Form,
    [FormItem.name]: FormItem,
    [Input.name]: Input
  },
  data: () => ({
    context: null,
    component: {},
    form: {
      email: '',
      gpu: ''
    },
    formRules: {
      email: [
        { required: true, message: 'E-mail is required', trigger: 'blur' },
        { type: 'email', message: 'Wrong e-mail format', trigger: ['blur', 'change'] }
      ],
      gpu: [
        { required: true, message: 'GPU model is required', trigger: 'blur' },
      ]
    }
  }),
  methods: {
    open (context, component) {
      this.context = context
      this.component = component
      this.$refs.modal.open()
    },
    async handleSubmit () {
      this.$refs.form.validate().then(async () => { 
        try {
          this.$wait.start('COMPONENT_WAITING_LIST')

          let ifGpu = () => {
            if (this.form.gpu !== '') return this.component.title + ' ' + this.form.gpu
            else return this.component.title
          }

          let options = {
            context: {
              hutk: this.$cookies.get('hubspotutk'),
              ipAddress: this.$store.getters['visitor/ip'],
              pageName: document.title,
              pageUri: window.location.href
            },
            fields: [
              { name: 'product_interest', value: ifGpu() },
              { name: 'email', value: this.form.email }
            ]
          }

          await axios.post(`https://api.hsforms.com/submissions/v3/integration/submit/5389959/6b7df5ad-d483-42fa-a2c5-40d4c08e3d0a`, options)

          this.$analytics.track('form_submit', {
            id: '6b7df5ad-d483-42fa-a2c5-40d4c08e3d0a',
            type: 'lead',
            name: 'component_contact_sales',
            identity_resolution: 'email',
            product_interest: ifGpu()
          })

          this.$analytics.identify(null, {
            identity_resolution: 'email',
            email: this.form.email
          })

          this.$analytics.track('componentContactSales', {
            category: 'Forms',
            action: 'Submit',
            pageUrl: options.context.pageUri,
            pageName: options.context.pageName
          }, {
            plugins: {
              all: false,
              'google-tag-manager': true
            }
          })

          this.$message.success('The form has been successfully submitted.')
          this.$refs.modal.close()
        } catch (e) {
          this.$message.error(e.response.data.message)
        } finally {
          this.$wait.end('COMPONENT_WAITING_LIST')
        }
      })
    }
  }
}
</script>
