<template>
  <cui-modal
    ref="modal"
    identificator="server_waiting_list"
    size="max-w-sm"
  >
    <template #header>
      <div v-if="Object.keys(plan).length !== 0" class="flex items-start text-coal-base sm:text-md md:text-lg">
        <cui-flag :code="plan.region.country_iso_2" size="small" class="mt-1" />
        <span class="ml-3">
          {{ plan.title }}<br>
          is out of stock
        </span>
      </div>
    </template>
    <div class="md:text-md leading-normal">
      <p>
        Join the waiting list and we will email you as soon as we have these servers available.
      </p>
    </div>
    <el-form
      ref="form"
      v-loading="$wait.is('SERVER_WAITING_LIST')"
      :model="form"
      :rules="formRules"
      class="mt-4"
      @submit.native.prevent @keyup.enter.prevent="register"
    >
      <div class="flex flex-col">
        <el-form-item
          prop="email"
          label="Your email"
        >
          <el-input v-model="form.email" type="email" placeholder="example@cherryservers.com" auto-complete="off" clearable />
        </el-form-item>
        <el-form-item prop="agreement" class="-mt-2 mb-5">
            <el-checkbox v-model="form.agreement" size="tiny">
              <div class="text-sm">I agree to be contacted as per Cherry Servers <nuxt-link to="/legal/privacy-policy" target="_blank" class="link font-600">privacy policy</nuxt-link></div>
            </el-checkbox>
        </el-form-item>
        <div class="w-full">
          <cui-button fit :disabled="$wait.is('SERVER_WAITING_LIST')" @click="handleSubmit">
            Join Waiting List
          </cui-button>
        </div>
      </div>
    </el-form>
  </cui-modal>
</template>

<script>
import { CuiButton, CuiFlag, CuiModal } from '../../../components'
import Form from 'element-ui/lib/form'
import FormItem from 'element-ui/lib/form-item'
import Input from 'element-ui/lib/input'
import Checkbox from 'element-ui/lib/checkbox'

export default {
  name: 'CuiServerWaitingListModal',
  components: {
    CuiButton,
    CuiFlag,
    CuiModal,
    [Form.name]: Form,
    [FormItem.name]: FormItem,
    [Input.name]: Input,
    [Checkbox.name]: Checkbox
  },
  data: () => ({
    plan: {},
    form: {
      email: '',
      agreement: []
    },
    formRules: {
      email: [
        { required: true, message: 'E-mail is required', trigger: 'blur' },
        { type: 'email', message: 'Wrong e-mail format', trigger: ['blur', 'change'] }
      ],
      agreement: [
          { type: 'array', required: true, message: 'Must agree with Privacy Policy', trigger: 'change' }
        ]
    }
  }),
  methods: {
    open (plan) {
      this.plan = plan
      this.$refs.modal.open()
    },
    async handleSubmit () {
      this.$refs.form.validate().then(async () => { 
        try {
          this.$wait.start('SERVER_WAITING_LIST')
          await this.$privateAPI.post(`v1/plans/${this.plan.id}/queues`, { ...this.form })
          this.$analytics.track('form_submit', {
            id: 'korys_form',
            type: 'lead',
            name: 'server_waiting_list',
            identity_resolution: 'email',
            product_interest: this.plan.id
          })
          this.$analytics.identify(null, {
            identity_resolution: 'email',
            email: this.form.email
          })
          this.$message.success('You successfully joined waiting list.')
          this.$refs.form.resetFields()
          this.$refs.modal.close()
        } catch (e) {
          this.$message.error(e.response.data.message)
        } finally {
          this.$wait.end('SERVER_WAITING_LIST')
        }
      })
    }
  }
}
</script>
