<template>
  <cui-modal
    ref="modal"
    identificator="spot_server_added_to_cart"
    title="You've just added a Spot Server to cart."
    :closable-background="false"
  >
    <div class="text-md leading-normal">
      <p class="mt-0 mb-2">
        Spot Servers are well-suited for stateless workloads.
      </p>
      <p class="mt-0 mb-2">
        They have up to 70% lower price than on-demand servers, <br>
        but they <span class="font-600">can be terminated at any time</span>.
      </p>
      <a 
        href="https://docs.cherryservers.com/knowledge/spot-servers"
        target="_blank"
        class="inline-flex items-center justify-center mt-3 text-blue-base focus:outline-none font-600 transition-all ease-linear duration-200"
      >
        Read Quick-start Guide
        <arrow-right-icon class="ml-2 h-5" />
      </a>
    </div>
    <template #footer="{ close }">
      <div class="flex flex-wrap justify-center md:justify-start -m-3">
        <div v-if="showProceedToCheckout" class="w-full sm:w-1/2 p-3">
          <button
            class="inline-flex items-center justify-center w-full h-12 px-8 bg-blue-base hover:bg-blue-d1 text-md text-white focus:outline-none font-600 text-base border border-blue-base rounded-sm transition-all ease-linear duration-200"
            @click="proceedToCheckout"
          >
            Proceed to Checkout
          </button>
        </div>
        <div class="w-full sm:w-1/2 p-3">
          <button
            class="inline-flex items-center justify-center w-full h-12 px-8 hover:bg-blue-d1 text-md text-blue-base hover:text-white focus:outline-none font-600 text-base border border-blue-base rounded-sm transition-all ease-linear duration-200"
            @click="close"
          >
            Continue Shopping
          </button>
        </div>
      </div>
    </template>
  </cui-modal>
</template>

<script>
import { CuiModal } from '../../ui/Modal'
import { ArrowRightIcon } from 'vue-feather-icons'

export default {
  name: 'CuiSpotServerAddedToCartModal',
  components: {
    CuiModal,
    ArrowRightIcon
  },
  props: {
    showProceedToCheckout: {
      default: true,
      required: false
    }
  },
  methods: {
    open () {
      this.$refs.modal.open()
    },
    proceedToCheckout () {
      this.$emit('proceed-to-checkout')
    }
  }
}
</script>
