<template>
  <el-dropdown
    ref="dropdown"
    trigger="click"
    placement="bottom-end"
    class="w-full"
    :visible-arrow="false"
    @visible-change="onVisibleChange"
  >
    <cui-button
      color="white"
      size="normal"
      fit
      class="text-xs sm:text-sm leading-tight border border-snow-base"
      data-context="pricing_filter"
      data-label="Billing cycle"
    >
      <div>
        <span class="mr-1 text-gray text-left" :class="[ selectedCycle ? 'hidden sm:inline-block' : 'inline-block']">
          Billing cycle
        </span>
        <span v-if="selectedCycle" class="text-left">
          {{ selectedCycle.name }}
        </span>
      </div>
      <component
        :is="dropdownVisible ? 'ChevronUpIcon' : 'ChevronDownIcon'"
        size="18"
        class="flex-shrink-0 ml-2 -mr-1 text-blue-base"
      />
    </cui-button>
    <el-dropdown-menu
      slot="dropdown"
      class="w-full sm:w-48"
    >
      <div class="sm:hidden py-2 px-4 font-600">
        Choose billing cycle
      </div>
      <el-radio-group
        v-model="cycleId"
        size="medium"
        class="flex flex-col"
        @change="onCycleChange"
      >
        <el-radio
          v-for="cycle in cycles"
          :key="cycle.id"
          :label="cycle.id"
          class="m-0 py-2 px-4 hover:bg-snow-l3"
        >
          <span>{{ cycle.name }}</span>
          <el-tooltip
            v-if="cycle.id === 38"
            placement="top-end"
            :offset="-10"
          >
            <div slot="content">
              <p class="mt-0 mb-2">
                Spot Servers are well-suited for stateless workloads.
              </p>
              <p class="mt-0 mb-2">
                They have up to 70% lower price than on-demand servers, <br>
                but they <span class="font-600">can be terminated at any time</span>.
              </p>
              <a 
                href="https://docs.cherryservers.com/knowledge/spot-servers"
                target="_blank"
                class="inline-flex items-center justify-center text-blue-l3 focus:outline-none font-600 transition-all ease-linear duration-200"
              >
                Read Quick-start Guide
                <arrow-right-icon class="ml-1 h-4" />
              </a>
            </div>
            <info-icon 
              class="float-right w-4 h-4 text-coal-l1 hover:text-blue-base"
            />
          </el-tooltip>
        </el-radio>
      </el-radio-group>
    </el-dropdown-menu>
  </el-dropdown>
</template>

<script>
import { availableCycles } from '../../../utils'
import Dropdown from 'element-ui/lib/dropdown'
import DropdownMenu from 'element-ui/lib/dropdown-menu'
import RadioGroup from 'element-ui/lib/radio-group'
import Radio from 'element-ui/lib/radio'
import Tooltip from 'element-ui/lib/tooltip'
import { ChevronDownIcon, ChevronUpIcon, InfoIcon, ArrowRightIcon } from 'vue-feather-icons'
import { CuiButton } from 'cherry-ui/components'

export default {
  name: 'CuiPlansPricingCycleSwitch',
  components: {
    [Dropdown.name]: Dropdown,
    [DropdownMenu.name]: DropdownMenu,
    [RadioGroup.name]: RadioGroup,
    [Radio.name]: Radio,
    [Tooltip.name]: Tooltip,
    ChevronDownIcon,
    ChevronUpIcon,
    InfoIcon,
    ArrowRightIcon,
    CuiButton
  },
  props: {
    selectedCycleId: {
      type: Number,
      required: false
    },
    hiddenCycles: {
      type: Array,
      required: false,
      default: () => []
    },
  },
  data: () => ({
    cycleId: null,
    dropdownVisible: false
  }),
  watch: {
    'selectedCycleId': function (cycleId) {
      this.cycleId = cycleId
    }
  },
  computed: {
    cycles () {
      return availableCycles.filter(cycle => !this.hiddenCycles.includes(cycle.id))
    },
    selectedCycle() {
      return availableCycles.find(cycle => cycle.id === this.cycleId)
    }
  },
  mounted() {
    this.cycleId = this.selectedCycleId
  },
  methods: {
    onCycleChange () {
      this.$emit('change', this.cycleId)
      this.$analytics.track('interaction', {
        action: 'click',
        click: {
          type: 'option',
          component: 'pricing_billing_cycle',
          value: this.selectedCycle.name
        }
      })
      this.$refs.dropdown.hide()
    },
    onVisibleChange(value) {
      this.dropdownVisible = value
    }
  }
}
</script>