<template>
  <div class="flex w-full sm:w-1/2 lg:w-full max-w-xs sm:max-w-none p-2 md:p-5 lg:p-2 xl:p-0" data-context="pricing_item">
    <div class="relative flex flex-col flex-wrap lg:flex-row xl:items-stretch w-full bg-white rounded xl:rounded-none border hover:shadow-raised hover:border-gr-300 transition-color ease-linear duration-100">
      <div class="flex flex-row flex-wrap lg:flex-no-wrap items-stretch flex-1 lg:flex-none flex-shrink-0 w-full lg:w-3/4 xl:w-auto px-2 lg:px-0">
        <router-link
          v-if="planClickable"
          :to="getPlanDetailsRoute(plan).location"
          class="absolute inset-0 block"
          data-label="pricing_item"
        />
        <div class="flex flex-col items-start justify-start w-full lg:w-52 pt-5 gap-2 lg:gap-0 px-2">
          <div class="lg:w-auto lg:ml-2 mt-2 lg:mt-1">
            <cui-plan-regions
              :regions="plan.plan_regions"
              :stock-attribute="stockAttribute"
              class="relative flex flex-row gap-1 items-center"
            />
          </div>
          <div class="lg:flex-1 lg:w-auto lg:ml-2 lg:mt-1">
            <div
              v-if="planOutOfStock || findFirstPlanWithCustomLabel"
              class="absolute top-0 left-0 inline-flex ml-1 text-white uppercase font-600"
            >
              <template v-if="planOutOfStock">
                <div class="bg-gr-400 ml-1 rounded-sm text-2xs h-4 px-3">
                  Out of stock
                </div>
              </template>
              <template v-if="findFirstPlanWithCustomLabel && findFirstPlanWithCustomLabel.custom_label">
                <div
                  class="ml-1 rounded-sm text-2xs h-4 px-3"
                  :style="{ backgroundColor: labelBackgroundColor(findFirstPlanWithCustomLabel.custom_label_color) }"
                >
                  <el-tooltip v-if="findFirstPlanWithCustomLabel.custom_label === 'Cheaper Each Month'" placement="top">
                    <div slot="content">
                      Start from <span class="text-blue-l4 font-600">{{ $store.getters['currency/active'] === 'EUR' ? '€' : '$' }}{{ roundNumber(firstPlanWithCustomLabelMonthlyCycle.price_month_without_vat, 2) }}</span> and pay <span class="text-blue-l4 font-600">{{ $store.getters['currency/active'] === 'EUR' ? '€' : '$' }}{{ roundNumber(firstPlanWithCustomLabelMonthlyCycle.discount_progressive_step_amount) }}</span> less each month <br class="hidden sm:block">
                      until your price reaches <span class="text-blue-l4 font-600">{{ $store.getters['currency/active'] === 'EUR' ? '€' : '$' }}{{ roundNumber(firstPlanWithCustomLabelMonthlyCycle.price_month_without_vat - firstPlanWithCustomLabelMonthlyCycle.discount_progressive_total_amount) }}/mo</span>.
                    </div>
                    <div class="flex items-center">
                      <info-icon size="13" class="mr-1" />
                      <span class="text-2xs">{{ findFirstPlanWithCustomLabel.custom_label }}</span>
                    </div>
                  </el-tooltip>
                  <span v-else>{{ findFirstPlanWithCustomLabel.custom_label }}</span>
                </div>
              </template>
            </div>
            <div class="text-coal-base font-600 text-md lg:text-base justify-center lg:justify-start">
              {{ plan.title }}
            </div>
          </div>
        </div>
        <div class="flex-1 flex flex-col md:flex-row md:flex-wrap lg:flex-row lg:items-center xl:items-start justify-start lg:justify-around xl:flex-no-wrap md:w-full lg:w-auto py-3 px-2 lg:pt-4 lg:pb-3 lg:mt-2 xl:p-0">
          <!-- CPU -->
          <div class="flex lg:flex-row items-start w-full lg:w-1/2 xl:w-44 mt-0 lg:mt-0 lg:py-2 xl:pt-6 xl:pb-0 xl:px-2">
            <div class="xl:hidden w-1/3 md:w-2/5 lg:w-20 pr-5 xl:pr-0 lg:pt-px lg:pb-0 text-gray text-2xs md:text-xs xl:text-2xs lg:text-2xs uppercase lg:text-right">CPU</div>
            <div>
              <div class="text-xs md:text-sm lg:text-base xl:text-xs whitespace-no-wrap">
                <template v-if="plansType.includes('server')">
                  <div class="flex flex-col">
                    <span>{{ plan.specs.params.cpus.threads }} threads @ {{ `${plan.specs.params.cpus.frequency} ${plan.specs.params.cpus.unit}` }}</span>
                    <span class="text-gray text-2xs md:text-xs xl:text-2xs">{{ plan.specs.params.cpus.cores }} physical cores</span>
                  </div>
                </template>
                <template v-if="['smart', 'vds', 'premium-vds', 'performance-vds'].includes(plan.type)">
                  {{ plan.specs.params.cpus.cores }} vCores @ {{ `${plan.specs.params.cpus.frequency} ${plan.specs.params.cpus.unit}` }}
                </template>
                <template v-if="plan.type === 'vps'">
                  {{ plan.specs.params.cpus.cores }} vCores
                </template>
                <template v-if="plan.type === 'storage-vps'">
                  {{ plan.specs.params.cpus.cores }} vCores
                </template>
              </div>
              <div v-if="plan.specs.params.cpus.upgradable" class="text-gray text-2xs md:text-xs xl:text-2xs">
                up to {{ plan.specs.params.cpus.max_cores }} vCores
              </div>
              <div v-if="['smart', 'vds', 'premium-vds', 'performance-vds'].includes(plan.type)" class="text-gray text-2xs md:text-xs xl:text-2xs">
                on {{ plan.specs.params.cpus.cores / 2 > 1 ? `${plan.specs.params.cpus.cores / 2} physical cores` : `${plan.specs.params.cpus.cores / 2} physical core` }}
              </div>
              <div v-if="plan.benchmark" class="relative text-coal-l2 text-2xs md:text-xs xl:text-2xs">
                <el-tooltip 
                  :enterable="false"
                  placement="bottom"
                  content="Geekbench 5 CPU performance points (higher is better)"
                >
                  <div class="group inline-flex items-center">
                    <span>
                      Benchmark {{ plan.benchmark.toLocaleString() }}
                    </span>
                    <info-icon class="inline-flex ml-1 w-3 h-3 text-coal-l2 group-hover:text-blue-base" />
                  </div>
                </el-tooltip>
              </div>
            </div>
          </div>
          <!-- RAM -->
          <div class="flex lg:flex-row items-start w-full lg:w-2/5 xl:w-28 lg:py-2 mt-3 lg:mt-0 xl:pt-6 xl:pb-0 xl:px-2" :class="[ plansType.includes('server') ? '' : '' ]">
            <div class="xl:hidden w-1/3 md:w-2/5 lg:w-20 pr-5 xl:pr-0 lg:pt-px lg:pb-0 text-gray text-2xs md:text-xs xl:text-2xs lg:text-2xs uppercase lg:text-right">RAM</div>
            <div class="flex-1">
              <div class="text-xs md:text-sm lg:text-base xl:text-xs whitespace-no-wrap">
                {{ plan.specs.params.memory.total + plan.specs.params.memory.unit }}
              </div>
              <div class="text-coal-l2 text-2xs md:text-xs xl:text-2xs" v-if="plan.specs.params.memory.upgradable">
                up to {{ plan.specs.params.memory.max_memory }}
              </div>
            </div>
          </div>
          <!-- Storage -->
          <div class="flex lg:flex-row items-start w-full lg:w-1/2 lg:py-2 mt-3 lg:mt-0 xl:pt-6 xl:pb-0 xl:px-2" :class="[ plansType.includes('server') ? 'xl:w-36' : 'xl:w-40' ]">
            <div class="xl:hidden w-1/3 md:w-2/5 lg:w-20 pr-5 xl:pr-0 lg:pt-px lg:pb-0 text-gray text-2xs md:text-xs xl:text-2xs lg:text-2xs uppercase lg:text-right">Storage</div>
            <div class="flex-1">
              <div class="flex flex-col text-xs md:text-sm lg:text-base xl:text-xs whitespace-no-wrap">
                <span v-for="disk in plan.specs.params.storage.list">{{ disk.count > 1 ? `${disk.count}x ${disk.size}${disk.unit} ${getComponentNameByKey(disk.type)}` : `${disk.size}${disk.unit} ${getComponentNameByKey(disk.type)}` }}</span>
              </div>
              <div class="text-coal-l2 text-2xs md:text-xs xl:text-2xs" v-if="plan.specs.params.storage.upgradable || plan.type === 'storage-vps'">
                <template v-if="plan.type === 'server'">
                  up to {{ plan.specs.params.storage.max_qty }} disks
                </template>
                <template v-if="plan.type === 'vps'">
                  up to {{ plan.specs.params.storage.max_capacity }}
                </template>
                <template v-if="plan.type === 'storage-vps'">
                  {{ filterComponents(plan.option_list, ['caching'])[0].variant_list[0].title }}
                </template>
              </div>
            </div>
          </div>
          <!-- Bandwidth -->
          <div class="flex lg:flex-row items-start w-full lg:w-2/5 lg:py-2 mt-3 lg:mt-0 xl:pt-6 xl:pb-0 xl:px-2" :class="[ plansType.includes('server') ? 'xl:w-36' : 'lg:order-6 xl:w-40' ]">
            <div class="xl:hidden w-1/3 md:w-2/5 lg:w-20 pr-5 xl:pr-0 lg:pt-px lg:pb-0 text-gray text-2xs md:text-xs xl:text-2xs lg:text-2xs uppercase lg:text-right">Bandwidth</div>
            <div class="flex-1">
              <div class="text-xs md:text-sm lg:text-base xl:text-xs whitespace-no-wrap">
                {{ plan.specs.params.nics.name }}
              </div>
              <div class="text-coal-l2 text-2xs md:text-xs xl:text-2xs">
                {{ plan.specs.params.bandwidth.name }}/mo free traffic
              </div>
            </div>
          </div>
          <!-- GPU -->
          <div v-if="plansType.includes('server')" class="order-last xl:order-none flex lg:flex-row items-start w-full lg:w-1/2 xl:w-24 lg:py-2 mt-3 lg:mt-0 xl:pt-6 xl:pb-0 xl:px-2" :class="{ 'hidden xl:block': plan.specs.params.gpu.max_gpu === 0 }">
            <div class="xl:hidden w-1/3 md:w-2/5 lg:w-20 pr-5 xl:pr-0 lg:pt-px lg:pb-0 text-gray text-2xs md:text-xs xl:text-2xs lg:text-2xs uppercase lg:text-right">GPU</div>
            <div class="flex-1">
              <template v-if="plan.specs.params.gpu.max_gpu > 0">
                <template v-if="plan.specs.params.gpu.list.length > 0">
                  <div class="text-xs md:text-sm lg:text-base xl:text-xs">{{ plan.specs.params.gpu.list.map(gpu => `${gpu.count}x GPU`).join(', ') }}</div>
                </template>
                <template v-else>
                  <div class="text-xs md:text-sm lg:text-base xl:text-xs">
                    Optional
                  </div>
                  <div v-if="plansType.includes('server')" class="text-coal-l2 text-2xs md:text-xs xl:text-2xs">
                    up to {{ plan.specs.params.gpu.max_gpu }} GPU
                  </div>
                </template>
              </template>
            </div>
          </div>
          <div v-if="plansType.includes('server')" class="order-last hidden items-start w-full lg:w-2/5 xl:w-24 lg:py-2 mt-3 lg:mt-0 xl:pt-6 xl:pb-0 xl:px-2" :class="{ 'lg:flex lg:flex-row xl:hidden': plan.specs.params.gpu.max_gpu !== 0 }">
            &nbsp;
          </div>
        </div>
      </div>
      <div
        class="flex flex-row flex-wrap lg:flex-col items-center xl:flex-row xl:flex-no-wrap justify-between lg:justify-center xl:justify-between xl:flex-1 w-full lg:w-1/4 xl:w-auto pb-3 px-4 lg:p-0 lg:bg-snow-l3 xl:bg-transparent"
        :class="[ plansType.includes('server') ? '' : '' ]"
      >
        <!-- Price -->
        <div
          v-loading="$wait.is('PRICING_CYCLE_CHANGE')"
          class="relative lg:flex lg:flex-col xl:flex-col items-center justify-center xl:items-start flex-1 w-full md:w-1/3 lg:w-full xl:w-auto py-2 px-2 lg:pt-4 lg:pb-2 xl:py-0 text-center xl:text-left xl:bg-transparent z-0"
        >
          <template v-if="!$wait.is('PRICING_CYCLE_CHANGE')">
            <template v-if="planCycleAvailable">
              <div v-if="findFirstPlanWithCustomLabel" class="text-coal-d1 flex flex-col justify-start items-start font-700 xl:font-600 text-md xl:text-base">
                <template v-if="[37, 38].includes(cycleId)">
                  <template v-if="$CHERRY.context === 'web'">
                    <span :class="{ 'text-red-base' : discountPercentageByCycle(firstPlanWithCustomLabelSelectedCycle) }">
                      {{ roundNumber(firstPlanWithCustomLabelSelectedCycle.price_without_vat, 3) }} {{ $store.getters['currency/active'] }}/hr
                    </span>
                  </template>
                  <template v-if="$CHERRY.context === 'portal'">
                    <span :class="{ 'text-red-base' : discountPercentageByCycle(firstPlanWithCustomLabelSelectedCycle) }">
                      {{ `${roundNumber(firstPlanWithCustomLabelSelectedCycle.price_total, 3)} ${$store.getters['portal/team'].billing.currency}/${getSelectedCycle(findFirstPlanWithCustomLabel.cycle_list, cycleId).shortname}` }}
                    </span>
                  </template>
                </template>
                <template v-else>
                  <template v-if="$CHERRY.context === 'web'">
                    <span :class="{ 'text-red-base' : discountPercentageByCycle(firstPlanWithCustomLabelSelectedCycle) }">
                      {{ roundNumber(firstPlanWithCustomLabelSelectedCycle.price_month_without_vat, firstPlanWithCustomLabelSelectedCycle.price_month_without_vat > 50 ? 0 : 2) }} {{ $store.getters['currency/active'] }}/mo
                    </span>
                  </template>
                  <template v-if="$CHERRY.context === 'portal'">
                    <span :class="{ 'text-red-base' : discountPercentageByCycle(firstPlanWithCustomLabelSelectedCycle) }">
                      {{ roundNumber(firstPlanWithCustomLabelSelectedCycle.price_month_without_vat, 2) }} {{ $store.getters['portal/team'].billing.currency }}/mo
                    </span>
                  </template>
                </template>
                <template v-if="discountPercentageByCycle(firstPlanWithCustomLabelSelectedCycle)">
                  <span v-if="[37, 38].includes(cycleId)" class="line-through font-700 xl:font-600 text-md xl:text-base">
                    {{ roundNumber(firstPlanWithCustomLabelSelectedCycle.base_price, 3) }} {{ $store.getters['currency/active'] }}/{{ getSelectedCycle(findFirstPlanWithCustomLabel.cycle_list, cycleId).shortname }}
                  </span>
                  <span v-else class="line-through font-700 xl:font-600 text-md xl:text-base">
                    {{ roundNumber(firstPlanWithCustomLabelSelectedCycle.base_price / firstPlanWithCustomLabelSelectedCycle.months, firstPlanWithCustomLabelSelectedCycle.base_price > 50 ? 0 : 2) }} {{ $store.getters['currency/active'] }}/mo
                  </span>
                </template>
              </div>
              <div v-else class="text-coal-d1 flex flex-col justify-start items-start font-700 xl:font-600 text-md xl:text-base">
                <template v-if="[37, 38].includes(cycleId)">
                  <template v-if="$CHERRY.context === 'web'">
                    <span :class="{ 'text-red-base' : discountPercentageByCycle(plan.cycle) }">
                      {{ roundNumber(getSelectedCycle(plan.cycle_list).price_without_vat, 3) }} {{ $store.getters['currency/active'] }}/hr
                    </span>
                  </template>
                  <template v-if="$CHERRY.context === 'portal'">
                    <span :class="{ 'text-red-base' : discountPercentageByCycle(plan.cycle) }">
                      {{ `${roundNumber(getSelectedCycle(plan.cycle_list).price_total, 3)} ${$store.getters['portal/team'].billing.currency}/${getSelectedCycle(plan.cycle_list, cycleId).shortname}` }}
                    </span>
                  </template>
                </template>
                <template v-else>
                  <template v-if="$CHERRY.context === 'web'">
                    <span :class="{ 'text-red-base' : discountPercentageByCycle(plan.cycle) }">
                      {{ roundNumber(getSelectedCycle(plan.cycle_list).price_month_without_vat, getSelectedCycle(plan.cycle_list).price_month_without_vat > 50 ? 0 : 2) }} {{ $store.getters['currency/active'] }}/mo
                    </span>
                  </template>
                  <template v-if="$CHERRY.context === 'portal'">
                    <span :class="{ 'text-red-base' : discountPercentageByCycle(plan.cycle) }">
                      {{ roundNumber(getSelectedCycle(plan.cycle_list).price_month_without_vat, 2) }} {{ $store.getters['portal/team'].billing.currency }}/mo
                    </span>
                  </template>
                </template>
                <template v-if="discountPercentageByCycle(plan.cycle)">
                  <span v-if="[37, 38].includes(cycleId)" class="line-through font-700 xl:font-600 text-md xl:text-base">
                    {{ roundNumber(getSelectedCycle(plan.cycle_list).base_price, 3) }} {{ $store.getters['currency/active'] }}/{{ getSelectedCycle(plan.cycle_list, cycleId).shortname }}
                  </span>
                  <span v-else class="line-through font-700 xl:font-600 text-md xl:text-base">
                    {{ roundNumber(getSelectedCycle(plan.cycle_list).base_price / getSelectedCycle(plan.cycle_list).months, getSelectedCycle(plan.cycle_list).base_price > 50 ? 0 : 2) }} {{ $store.getters['currency/active'] }}/mo
                  </span>
                </template>
              </div>
              <div class="text-xs font-600">
                <template v-if="!selectedCycleId">
                  price starts at
                </template>
                <!-- <template v-else-if="[37, 38].includes(cycleId) && Object.values(plansGroup).some(plan => [735, 732, 739, 730, 731, 741, 714, 738, 736, 734, 740, 713, 703].includes(plan.id))">
                  <template v-if="$CHERRY.context === 'web'">
                    {{ monthlifyPrice(getSelectedCycle(plan.cycle_list).price) }} {{ $store.getters['currency/active'] }}/mo
                  </template>
                  <template v-if="$CHERRY.context === 'portal'">
                    {{ roundNumber(getSelectedCycle(plan.cycle_list).price_month, 2) }} {{ $store.getters['portal/team'].billing.currency }}/mo<template v-if="getSelectedCycle(plan.cycle_list).save_every_month > 0">, <span class="text-red-base">save {{ getSelectedCycle(plan.cycle_list).save_every_month_percent }}%</span></template>
                  </template>
                </template> -->
                <div class="flex flex-col" v-else-if="![3, 37, 38].includes(cycleId)">
                  <span v-if="$CHERRY.context === 'web'">
                    {{ `${roundNumber(getSelectedCycle(plan.cycle_list).price_total, 2)} ${$store.getters['currency/active']}/${getSelectedCycle(plan.cycle_list).shortname}` }}
                  </span>
                  <span v-if="$CHERRY.context === 'portal'">
                    {{ `${roundNumber(getSelectedCycle(plan.cycle_list).price_total, 2)} ${$store.getters['portal/team'].billing.currency}/${getSelectedCycle(plan.cycle_list).shortname}` }}
                  </span>
                </div>
              </div>
            </template>
            <template v-else>
              <div class="text-xs">
                Not available for<br>
                this billing cycle
              </div>
            </template>
          </template>
        </div>
        <!-- Actions -->
        <div class="relative flex flex-col justify-center w-full xl:w-40 pt-2 lg:py-2 lg:px-2 lg:space-y-2 xl:space-y-0">
          <template v-if="($CHERRY.context === 'web' && planOutOfStock) || ($CHERRY.context === 'portal' && planOutOfStock && $store.getters.isAuth.admin_id === 0)">
            <cui-button
              size="normal"
              color="light-gray"
              fit
              class="text-xs md:text-sm whitespace-no-wrap"
              :disabled="$wait.is('PRICING_CYCLE_CHANGE')"
              :data-label="`Join Waiting List - ${plan.title || plan.name}`"
              @click.prevent.stop="handleJoinWaitingListClick(plan)"
            >
              Join Waiting List
            </cui-button>
          </template>
          <template v-else-if="$CHERRY.context === 'portal'">
            <el-dropdown
              v-if="plansGroupInStock > 1"
              trigger="click"
              placement="bottom"
              class="w-full"
              @command="handleAddToCart"
            >
              <cui-button
                v-loading="addingToCart"
                element-loading-background="transparent"
                size="normal"
                color="blue"
                fit
                :disabled="!planCycleAvailable || addingToCart || $wait.is('PRICING_CYCLE_CHANGE')"
                :data-label="`Add to cart (dropdown) - ${plan.title || plan.name}`"
              >
                Add to cart
              </cui-button>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item
                  v-for="plansGroupPlan in plansGroup"
                  :key="plansGroupPlan.id"
                  :command="plansGroupPlan"
                >
                  <div class="relative flex items-center font-600">
                    <cui-flag size="tiny" :code="plansGroupPlan.region.country_iso_2" class="mr-1" />
                    {{ plansGroupPlan.region.name }}
                  </div>
                </el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
            <cui-button
              v-else
              v-loading="addingToCart"
              element-loading-background="transparent"
              size="normal"
              color="blue"
              fit
              :disabled="!planCycleAvailable || addingToCart || $wait.is('PRICING_CYCLE_CHANGE')"
              :data-label="`Add to cart - ${plan.title || plan.name}`"
              @click="handleAddToCart(plan)"
            >
              Add to cart
            </cui-button>
          </template>
          <cui-button
            v-if="($CHERRY.context === 'web' && !planOutOfStock) || $CHERRY.context === 'portal'"
            size="normal"
            color="blue"
            fit
            @click="getPlanConfigureRoute(plan)"
          >
            Configure
          </cui-button>
          <template v-if="$CHERRY.context === 'web'">
            <router-link
              :to="getPlanDetailsRoute(plan).location"
              class="cui-button cui-button--small cui-button--blue cui-button--transparent sm:cui-button--normal lg:cui-button--small"
              :class="{ 'pointer-events-none': $wait.is('PRICING_CYCLE_CHANGE') }"
            >
              More details
            </router-link>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { addToCart } from 'cherry-ui/utils/mixins/cart'
import { plansDefaults, getComponentNameByKey, getRegion, getSelectedCycle, monthlifyPrice, roundNumber, filterComponents } from 'cherry-ui/utils'
import { InfoIcon } from 'vue-feather-icons'
import Dropdown from 'element-ui/lib/dropdown'
import DropdownMenu from 'element-ui/lib/dropdown-menu'
import DropdownItem from 'element-ui/lib/dropdown-item'
import Tooltip from 'element-ui/lib/tooltip'
import { CuiButton, CuiPlanRegions } from 'cherry-ui/components'

export default {
  name: 'CuiPlansPricingItem',
  components: {
    InfoIcon,
    [Dropdown.name]: Dropdown,
    [DropdownMenu.name]: DropdownMenu,
    [DropdownItem.name]: DropdownItem,
    [Tooltip.name]: Tooltip,
    CuiButton,
    CuiPlanRegions
  },
  mixins: [
    addToCart
  ],
  props: {
    cycleId: {
      type: Number,
      required: true
    },
    selectedCycleId: {
      type: Number,
      required: false
    },
    plansGroup: {
      type: Object,
      required: true
    },
    plansType: {
      type: Array,
      required: true
    },
    planClickable: {
      type: Boolean,
      required: false
    },
    planRoute: {
      type: Function,
      required: false
    }
  },
  computed: {
    plan () {
      const filteredPlansGroup = Object.keys(this.plansGroup).reduce((acc, key) => {
        const plan = this.plansGroup[key]
        const planDefaults = plansDefaults.find(p => p.slug === plan.slug)

        if (plan.region[this.stockAttribute] <= 0) {
          return acc
        }
        if (planDefaults && 'location_name' in planDefaults && planDefaults.location_name !== plan.region.country_iso_2) {
          return acc
        }

        acc.push(plan)
        return acc
      }, [])

      if (filteredPlansGroup.length > 0) {
        return filteredPlansGroup[0]
      } 

      return this.plansGroup[Object.keys(this.plansGroup)[0]]
    },
    planCycleAvailable () {
      return Object.keys(getSelectedCycle(this.plan.cycle_list, this.cycleId)).length > 0 && !getSelectedCycle(this.plan.cycle_list, this.cycleId).disabled
    },
    plansGroupInStock () {
      const plans = Object.keys(this.plansGroup).reduce((acc, key) => {
        let plan = this.plansGroup[key]
        if (plan.region[this.stockAttribute] > 0) acc.push(plan)
        return acc
      }, [])
  
      return plans.length
    },
    planOutOfStock () {
      return this.getRegion(this.plan.plan_regions, this.plan.region.id)[this.stockAttribute] === 0
    },
    stockAttribute () {
      return this.cycleId !== 38 ? 'stock_qty' : 'spot_qty'
    },
    addingToCart () {
      const waiter = 'CART_ADD_'
      const waiters = []

      if (this.plansGroupInStock > 1) {
        waiters.push(...Object.keys(this.plansGroup).map(key => `${waiter}${this.plansGroup[key].id}`))
      } else {
        waiters.push(`${waiter}${this.plan.id}`)
      }

      return this.$wait.is(waiters)
    },
    findFirstPlanWithCustomLabel () {
      return Object.values(this.plansGroup).find(plan => plan.custom_label) || null
    },
    firstPlanWithCustomLabelSelectedCycle () {
      return this.findFirstPlanWithCustomLabel.cycle_list.find(cycle => cycle.id === this.cycleId)
    },
    firstPlanWithCustomLabelMonthlyCycle () {
      return this.findFirstPlanWithCustomLabel.cycle_list.find(cycle => cycle.id === 3)
    }
  },
  mounted () {
    this.experiments = this.$exp.experiments
  },
  methods: {
    roundNumber,
    monthlifyPrice,
    getComponentNameByKey,
    getRegion,
    getSelectedCycle,
    filterComponents,
    async handleAddToCart (plan) {
      const region = plan.region
      const cycle = getSelectedCycle(plan.cycle_list)

      await this.addToCart(plan, { region, cycle: cycle.id })

      if (this.$CHERRY.context === 'portal') {
        // this.$gtm.trackEvent({
        //   event: 'cartAdded',
        //   category: 'Cart',
        //   action: 'CartAdded',
        //   label: plan.title || plan.name,
        //   value: cycle.price
        // })
      }

      if (cycle.id === 38) {
        this.$emit('spot-server-modal')
      }
    },
    handleJoinWaitingListClick (plan) {
      this.$emit('join-waiting-list-modal', plan)
    },
    getPlanConfigureRoute (plan) {
      window.location.assign(`https://portal.cherryservers.com/deployment?plan=${plan.id}${this.cycleId != 37 ? `&cycle=${this.cycleId}` : ''}&focus_plan=1`)
    },
    getPlanDetailsRoute (plan) {
      return this.planRoute({
        params: {
          category: plan.type === 'server' ? 'dedicated-servers' : 'virtual-servers',
          slug: plan.slug
        },
        query: {
          billing: this.cycleId,
          region: plan.region.slug
        }
      })
    },
    labelBackgroundColor (color) {
      return { red: '#ff0001', green: '#00b043', blue: '#0054ff' }[color] ?? color
    },
    discountPercentageByCycle(billing) {
      if (billing.discount_percent) {
        if (billing.id === 6 && billing.discount_percent > 15) return true
        if (billing.id === 5 && billing.discount_percent > 10) return true
        if (billing.id === 4 && billing.discount_percent > 5) return true
        if ([3, 38, 37].includes(billing.id) && billing.discount_percent > 0) return true
      } else {
        return false
      }
    }
  }
}
</script>
