<template>
  <div ref="wrapper">
    <div :style="{ height: `${filtersHeight}px` }">
      <div
        ref="filters"
        class="w-full z-30"
        :class="{ 'fixed': (!['sm', 'md'].includes($mq) && filtersFixed) || (['sm', 'md'].includes($mq) && filtersFixed && !filtersVisible) }" :style="{ top: `${topBarHeight}px`}"
      >
        <div class="bg-white">
          <div class="container">
            <div class="flex flex-col border-b lg:flex-row items-end justify-between lg:h-14 lg:space-x-3 py-2 lg:py-0">
              <div class="flex-1 lg:flex-none w-full lg:w-auto py-1 lg:py-0 overflow-hidden">
                <cui-plans-pricing-categories
                  v-if="loaded && categories"
                  :categories="categories"
                  :selected-category="selectedCategory"
                  @category-change="handleCategoryChange"
                />
              </div>
              <div class="flex-shrink-0 flex flex-row items-center self-center justify-between w-full lg:w-auto space-x-1 sm:space-x-2 lg:space-x-3 py-1">
                <div class="w-1/2 sm:w-auto">
                  <cui-plans-pricing-cycle-switch
                    v-if="loaded"
                    :selected-cycle-id="selectedCycleId"
                    @change="handleCycleChange"
                  />
                </div>
                <div class="w-1/2 sm:w-auto">
                  <cui-plans-pricing-filters-trigger
                    v-if="loaded"
                    :filters-visible="filtersVisible"
                    @filters-visible-change="handleFiltersVisibleChange($event)"
                  />
                </div>           
              </div>
            </div>
          </div>
        </div>
        <div>
          <cui-plans-pricing-filters
            v-if="Object.keys(filters).length !== 0 && filters.constructor === Object"
            :visible="filtersVisible"
            :selected-category="selectedCategory"
            :plans-type="params.plans_type"
            :filters="filters"
            :initialFilters="initialFilters"
            @filter-value-change="handleFilterValueChange"
            @filters-values-change="handleFiltersValuesChange"
            @filters-visible-change="handleFiltersVisibleChange($event)"
          />
        </div>
      </div>
    </div>
    <div v-loading="!loaded || $wait.is(['PRICING_LOADING', 'PRICING_FITLERS_LOADING'])" class="relative">
      <div class="container">
        <div class="xl:shadow-poped mt-6">
          <div class="hidden xl:flex flex-row py-4 text-gray text-sm uppercase rounded-t-sm border">
            <div class="w-52 pl-12 pr-2">
              Plan
            </div>
            <div class="w-44 px-2">
              CPU
            </div>
            <div class="w-28 px-2">
              RAM
            </div>
            <div class="px-2" :class="[ params.plans_type.includes('server') ? 'w-36' : 'w-40' ]">
              Storage
            </div>
            <div class="px-2" :class="[ params.plans_type.includes('server') ? 'w-36' : 'w-40' ]">
              Bandwidth
            </div>
            <div v-if="params.plans_type.includes('server')" class="w-24 px-2">
              GPU
            </div>
            <div class="px-2">
              Price <template v-if="$CHERRY.context === 'web'">excl. VAT</template>
            </div>
          </div>
          <div class="flex flex-wrap justify-center sm:justify-start -mx-2 md:-my-3 md:-mx-5 lg:-mx-2 xl:m-0">
            <template v-if="filteredPlans.length > 0">
              <cui-plans-pricing-item
                v-for="plansGroup in filteredPlans"
                :key="plansGroup[Object.keys(plansGroup)[0]].id"
                :plans-group="plansGroup"
                :plans-type="params.plans_type"
                :cycle-id="params.cycle_id"
                :selected-cycle-id="selectedCycleId"
                :plan-clickable="planClickable"
                :plan-route="planRoute"
                @join-waiting-list-modal="$refs.serverWaitingListModal.open($event)"
                @spot-server-modal="$refs.spotServerModal.open()"
              />
            </template>
            <div v-else class="flex items-center justify-center w-full h-40 bg-white border">
              <div v-show="loaded" class="space-y-1 text-center">
                <span class="block text-lg">No plans were found</span>
                <span class="block text-md">Adjust filters or <a href="mailto:sales@cherryservers.com" class="text-blue-base hover:underline">contact sales</a> for custom requests.</span>
              </div>
            </div>
          </div>
          <cui-server-waiting-list-modal ref="serverWaitingListModal" />
          <cui-spot-server-added-to-cart-modal
            ref="spotServerModal"
            @proceed-to-checkout="$router.push('/order')"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CuiPlansPricingCategories from './PlansPricingCategories'
import CuiPlansPricingCycleSwitch from './PlansPricingCycleSwitch'
import CuiPlansPricingFiltersTrigger from './PlansPricingFiltersTrigger'
import CuiPlansPricingFilters from './PlansPricingFilters'
import CuiPlansPricingItem from './PlansPricingItem'
import CuiServerWaitingListModal from '../Modals/ServerWaitingListModal'
import CuiSpotServerAddedToCartModal from '../Modals/SpotServerAddedToCartModal'

const DEDICATED_SERVERS_CATEGORIES = {
  'up_to_16': '8 - 16 Cores',
  'up_to_32': '24 - 32 Cores',
  'up_to_128': '48 - 128 Cores',
  'outlet': 'Server Outlet'
}

const VIRTUAL_SERVERS_CATEGORIES = {
  'shared_resources': 'Shared resources',
  'dedicated_resources': 'Dedicated resources'
}

export default {
  name: 'CuiPlansPricing',
  components: {
    CuiPlansPricingCategories,
    CuiPlansPricingCycleSwitch,
    CuiPlansPricingFiltersTrigger,
    CuiPlansPricingFilters,
    CuiPlansPricingItem,
    CuiServerWaitingListModal,
    CuiSpotServerAddedToCartModal
  },
  props: {
    initialParams: {
      type: Object,
      required: false
    },
    initialFilters: {
      type: Object,
      required: false,
      default: {}
    },
    showInitialCycle: {
      type: Boolean,
      default: true
    },
    planClickable: {
      type: Boolean,
      required: false,
      default: false
    },
    planRoute: {
      type: Function,
      required: false
    }
  },
  data: () => ({
    loaded: false,
    filtersHeight: null,
    filtersPosition: null,
    scrollPosition: null,
    plans: [],
    filters: {},
    filtersForm: {},
    filtersVisible: false,
    selectedCycleId: null,
    selectedCategory: null,
    params: {
      plans_type: [],
      cycle_id: null,
      currency: null,
      selected_variants: 1,
      sort_by_labels: 1,
    }
  }),
  computed: {
    topBarHeight () {
      return this.$store.getters['ui/getKeyValue']('topBarHeight')
    },
    filtersFixed () {
      if (!this.filtersPosition || !this.scrollPosition) return 
      if (this.filtersPosition - this.topBarHeight > this.scrollPosition) return
      if (this.$refs.wrapper.getBoundingClientRect().bottom - this.topBarHeight < 0) return

      return true
    },
    categories () {
      return this.initialParams.plans_type.includes('server') ? DEDICATED_SERVERS_CATEGORIES : VIRTUAL_SERVERS_CATEGORIES
    },
    filteredPlans () {
      return this.plans.reduce((acc, plansGroup) => {
        plansGroup = Object.keys(plansGroup).reduce((res, planKey) => {
          const plan = plansGroup[planKey]

          if (this.initialParams.plans_type.includes('server') && !this.selectedCategory && plan.tags.some(tag => tag === 'outlet')) {
            return res
          }
          
          if (this.selectedCategory && !plan.tags.includes(this.selectedCategory)) {
            return res
          }

          if (Object.keys(this.filtersForm).length !== 0 && this.filtersForm.constructor === Object) {
            if ('regions' in this.filtersForm && !this.filtersForm.regions.includes(plan.region.slug)) {
              return res
            }
            if ('category' in this.filtersForm && this.filtersForm.category.length > 0 && !this.filtersForm.category.includes(plan.category[0].toUpperCase() + plan.category.slice(1))) {
              return res
            }
            if ('type' in this.filtersForm && !this.filtersForm.type.includes(plan.type)) {
              return res
            }
            if ('cpu_list' in this.filtersForm && this.filtersForm.cpu_list.length > 0 && !this.filtersForm.cpu_list.includes(plan.specs.params.cpus.count)) {
              return res
            }
            if ('core_list' in this.filtersForm && this.filtersForm.core_list.length > 0 && !this.filtersForm.core_list.includes(plan.specs.params.cpus.cores)) {
              return res
            }
            if ('ram_list' in this.filtersForm && this.filtersForm.ram_list.length > 0 && (!this.filtersForm.ram_list.includes(plan.specs.params.memory.total) && !this.filtersForm.ram_list.includes(parseInt(plan.specs.params.memory.max_memory)))) {
              return res
            }
            if ('gpu' in this.filtersForm && this.filtersForm.gpu === true && plan.specs.params.gpu.max_gpu === 0) {
              return res
            }
            if ('stock' in this.filtersForm && this.filtersForm.stock === true && plan.region[this.params.cycle_id === 38 ? 'spot_qty' : 'stock_qty'] === 0) {
              return res
            }
          }
          
          res[planKey] = plan
          return res
        }, {})

        if (Object.keys(plansGroup).length > 0) {
          acc.push(plansGroup)
        }
        
        return acc
      }, [])
    }
  },
  async mounted () {
    await this.initParams()
    await this.loadFilters()
    await this.loadPlans()

    if (!['sm', 'md'].includes(this.$mq)) {
      this.filtersVisible = true
    }

    this.loaded = true

    this.$nextTick(() => {
      this.updateFiltersHeight()
      this.updateFiltersPosition()
    })

    this.$eventBus.$on('currencyChanged', () => {
      this.params.currency = this.$CHERRY.context === 'portal' ? this.$store.getters['portal/team'].billing.currency : this.$store.getters['currency/active']
      this.loadPlans()
    })
    
    window.addEventListener('resize', this.updateFiltersHeight)
    window.addEventListener('scroll', this.updateScrollPosition)
  },
  beforeDestroy () {
    this.$eventBus.$off('currencyChanged')
    window.removeEventListener('resize', this.updateFiltersHeight)
    window.removeEventListener('scroll', this.updateScrollPosition)
  },
  methods: {
    updateFiltersHeight () {
      this.filtersHeight = this.$refs.filters && this.$refs.filters.clientHeight
    },
    updateFiltersPosition () {
      this.filtersPosition = this.$refs.filters && this.$refs.filters.getBoundingClientRect().top
    },
    updateScrollPosition () {
      this.scrollPosition = window.scrollY
    },
    async initParams () {
      let queryParams = { ...this.$route.query }
      let queryParamsChanged = false

      if (queryParams.billing || queryParams.b) this.$store.dispatch('billing/setBilling', queryParams.billing || queryParams.b)

      let cherryBilling = this.$store.getters['billing/getBilling']

      let params = { ...this.params, ...this.initialParams }
      
      params.currency = this.$store.getters['currency/active']

      if (params.category && Object.keys(this.categories).includes(params.category)) {
        this.selectedCategory = params.category
      } else {
        params.category = null
        delete queryParams.category
        queryParamsChanged = true
      }

      if (queryParams.b) {
        delete queryParams.b
        queryParamsChanged = true
      }

      if (cherryBilling) {
        params.cycle_id = parseInt(cherryBilling)
      }

      if (this.showInitialCycle || cherryBilling) {
        this.selectedCycleId = params.cycle_id
      }

      if (!queryParams.billing || queryParams.billing !== params.cycle_id) {
        queryParams.billing = params.cycle_id
        queryParamsChanged = true
      }

      if (this.$CHERRY.context === 'portal') {
        params.currency = this.$store.getters['portal/team'].billing.currency
        params.team_id = this.$store.getters['portal/team'].id
      }

      if (queryParamsChanged) {
        this.$router.replace({ query: queryParams }).catch(()=>{})
      }
      
      this.params = params
    },
    async loadFilters () {
      try {
        this.$wait.start('PRICING_FILTERS_LOADING')
        const { data: { category, ...filters } } = await this.$privateAPI.get('v1/plans/available-filters', { params: this.params })
        this.filters = filters
      } catch (e) {
        console.log(e)
      } finally {
        this.$wait.end('PRICING_FILTERS_LOADING')
      }
    },
    async loadPlans (waiterName = 'PRICING_LOADING') {
      try {
        this.$wait.start(waiterName)
        const { data: plans } = await this.$privateAPI.get('v1/grouped/plans', { params: this.params })
        this.plans = plans
      } catch (e) {
        console.log(e)
      } finally {
        this.$wait.end(waiterName)
      }
    },
    handleCycleChange (cycleId) {
      this.params.cycle_id = cycleId
      this.selectedCycleId = cycleId
      this.$store.dispatch('billing/setBilling', cycleId)

      this.$router.replace({
        query: {
          ...this.$route.query,
          billing: cycleId
        }
      }).catch(()=>{})

      this.loadPlans('PRICING_CYCLE_CHANGE')
    },
    handleCategoryChange (category) {
      this.selectedCategory = category

      const newQuery = { ...this.$route.query }

      if (category === null) delete newQuery.category
      else newQuery.category = category

      if (this.initialParams.category !== category) {
        this.$router.replace({ query: { ...newQuery } }).catch(()=>{})
      }
    },
    handleFiltersVisibleChange (payload) {
      this.filtersVisible = payload
      this.$nextTick(() => {
        this.updateFiltersHeight()
      })
    },
    handleFilterValueChange (filterKey, value) {
      if (
        this.selectedCategory
        && ['cpu', 'cores', 'ram'].includes(filterKey)
        && filterKey in this.filtersForm
      ) {
        this.selectedCategory = null
      }

      if (filterKey === 'regions') this.updateQuery(filterKey, value)
    },
    handleFiltersValuesChange (payload) {
      this.filtersForm = payload
    },
    updateQuery (filterKey, value) {
      const query = { ...this.$route.query }

      const isRegions = filterKey === 'regions'
      const valueExists = value !== null
      const shouldDelete = (valueExists && query[filterKey] && query[filterKey].includes(value)) || value.toString() === 'false' || value === null

      if (isRegions && valueExists) {
        const regions = query.regions ? query.regions.split(',') : []
        if (regions.includes(value.toString())) {
          query.regions = regions.filter(region => region !== value.toString()).join(',')
          if (!query.regions.length) delete query[filterKey]
        } else {
          regions.push(value)
          query.regions = regions.join(',')
        }
      } else if (shouldDelete) {
        delete query[filterKey]
      } else {
        query[filterKey] = Array.isArray(value) ? value.join(',') : value
      }

      this.$router.replace({ query }).catch(()=>{})
    }
  }
}
</script>
