<template>
  <div>
    <div v-show="visible && !$wait.is('PRICING_FILTERS_LOADING')" class="fixed lg:relative top-0 inset-x-0 lg:inset-auto h-screen lg:h-auto bg-white z-50 lg:z-0">
      <div class="container h-full">
        <div class="flex flex-col lg:flex-row items-stretch lg:items-start h-full">
          <div class="lg:hidden flex items-center justify-between py-4">
            <span class="text-lg text-coal-base font-600">Filters</span>
            <button
              class="-m-3 p-3 text-gray hover:text-coal-base active:text-blue-base transition-all ease-linear duration-200 focus:text-blue-d1 focus:outline-none"
              @click="closeFilters"
            >
              <x-icon class="w-6 h-6" />
            </button>
          </div>
          <div class="flex-1 -mx-4 px-4 sm:-mx-8 sm:px-8 overflow-y-scroll lg:overflow-y-visible">
            <div class="flex flex-col lg:flex-row justify-end pt-4">
              <div class="flex-1">
                <div class="flex flex-row flex-wrap items-stretch mx-0 sm:-mx-4 xl:-mx-6 space-y-6 sm:space-y-10 lg:space-y-0">
                  <div class="w-full lg:w-auto px-2 sm:px-4 xl:px-6 flex flex-col">
                    <div class="text-gray text-xs sm:text-base lg:text-xs uppercase whitespace-no-wrap">
                      Location
                    </div>
                    <div class="mt-2 flex flex-col gap-1">
                      <div
                        v-for="option in availableRegions"
                        :key="option.id"
                        class="flex items-center text-base lg:text-xs cursor-pointer"
                        @click.prevent="onFilterValueChange('regions', option.slug); onFilterInteraction('region', option.name, 'regions' in filtersValues && !!filtersValues.regions.includes(option.id))"
                      >
                        <el-checkbox :value="'regions' in filtersValues && filtersValues.regions.includes(option.slug)" />
                        <div class="inline-flex items-center ml-3">
                          <cui-flag
                            :code="option.iso"
                            size="tiny"
                          />
                          <span class="ml-2 whitespace-no-wrap">
                            {{ option.name }}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div v-if="plansType.includes('server')" class="w-full lg:w-1/6 px-2 sm:px-4 xl:px-6 flex flex-col">
                    <div class="text-gray text-xs sm:text-base lg:text-xs uppercase whitespace-no-wrap">
                      Processor type
                    </div>
                    <div class="mt-2 space-y-1">
                      <div
                        v-for="option in sortedFilters.cpu_list"
                        :key="option"
                        class="flex items-center text-base lg:text-xs cursor-pointer"
                        @click="onFilterValueChange('cpu', option); onFilterInteraction('cpu', { 1: 'Single', 2: 'Dual', 4: 'Quad' }[option], 'cpu' in filtersValues && !!filtersValues.cpu.includes(option))"
                      >
                        <el-switch :value="'cpu' in filtersValues && filtersValues.cpu.includes(option)" :label="true"></el-switch>
                        <span class="ml-3">
                          <template v-if="option === 1">Single</template>
                          <template v-if="option === 2">Dual</template>
                          <template v-if="option === 4">Quad</template>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div v-if="!plansType.includes('server')" class="w-full lg:w-auto px-2 sm:px-4 xl:px-6 flex flex-col">
                    <div class="text-gray text-xs sm:text-base lg:text-xs uppercase whitespace-no-wrap">
                      Instance type
                    </div>
                    <div class="mt-2 space-y-1">
                      <div class="flex items-center text-base lg:text-xs cursor-pointer" @click="onFilterValueChange('type', !('type' in filtersValues) || !filtersValues.type.includes(selectedCategory === 'dedicated_resources' ? 'vds' : 'vps') ? [selectedCategory === 'dedicated_resources' ? 'vds' : 'vps'] : null); onFilterInteraction('instance_type', 'General Purpose')">
                        <el-switch :value="'type' in filtersValues && filtersValues.type.includes(selectedCategory === 'dedicated_resources' ? 'vds' : 'vps')" :label="true"></el-switch>
                        <span class="ml-3">General Purpose</span>
                      </div>
                      <div v-if="selectedCategory === null" class="flex items-center text-base lg:text-xs cursor-pointer" @click="onFilterValueChange('type', !('type' in filtersValues) || !['vds', 'premium-vds', 'performance-vds'].every(type => filtersValues.type.includes(type)) ? ['vds', 'premium-vds', 'performance-vds'] : null); onFilterInteraction('instance_type', 'CPU & Memory Optimized')">
                        <el-switch :value="'type' in filtersValues && ['vds', 'premium-vds', 'performance-vds'].every(type => filtersValues.type.includes(type))" :label="true"></el-switch>
                        <span class="ml-3">CPU & Memory Optimized</span>
                      </div>
                      <div v-if="selectedCategory === 'dedicated_resources'" class="flex items-center text-base lg:text-xs cursor-pointer" @click="onFilterValueChange('type', !('type' in filtersValues) || !filtersValues.type.includes('performance-vds') ? ['performance-vds'] : null); onFilterInteraction('instance_type', 'CPU Optimized')">
                        <el-switch :value="'type' in filtersValues && filtersValues.type.includes('performance-vds')" :label="true"></el-switch>
                        <span class="ml-3">CPU Optimized</span>
                      </div>
                      <div v-if="selectedCategory === 'dedicated_resources'" class="flex items-center text-base lg:text-xs cursor-pointer" @click="onFilterValueChange('type', !('type' in filtersValues) || !filtersValues.type.includes('premium-vds') ? ['premium-vds'] : null); onFilterInteraction('instance_type', 'Memory Optimized')">
                        <el-switch :value="'type' in filtersValues && filtersValues.type.includes('premium-vds')" :label="true"></el-switch>
                        <span class="ml-3">Memory Optimized</span>
                      </div>
                      <div v-if="[null, 'shared_resources'].includes(selectedCategory)" class="flex items-center text-base lg:text-xs cursor-pointer" @click="onFilterValueChange('type', !('type' in filtersValues) || !['smart', 'storage-vps'].every(type => filtersValues.type.includes(type)) ? ['smart', 'storage-vps'] : null); onFilterInteraction('instance_type', 'Storage Optimized')">
                        <el-switch :value="'type' in filtersValues && ['smart', 'storage-vps'].every(type => filtersValues.type.includes(type))" :label="true"></el-switch>
                        <span class="ml-3">Storage Optimized</span>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="w-full sm:w-auto sm:w-1/3 lg:w-1/6 xl:w-1/5 px-2 sm:px-4 xl:px-6 flex flex-col">
                    <div class="text-gray text-xs sm:text-base lg:text-xs uppercase whitespace-no-wrap">
                      {{ `${getComponentNameByKey('cores')}` }}
                    </div>
                    <div class="mt-2">
                      <el-slider
                        :value="'cores' in filtersValues ? filtersValues.cores : [0, sortedFilters.core_list.length - 1]"
                        :min="0"
                        :max="sortedFilters.core_list.length - 1"
                        :show-tooltip="false"
                        range
                        class="-my-1"
                        @input="onFilterValueChange('cores', $event)"
                        @change="onFilterInteraction('cores', $event.join('_'))"
                      >
                      </el-slider>
                      <div class="flex justify-between text-xs">
                        <span>{{ sortedFilters.core_list['cores' in filtersValues ? filtersValues.cores[0] : 0] }} cores</span>
                        <span>{{ sortedFilters.core_list['cores' in filtersValues ? filtersValues.cores[1] : sortedFilters.core_list.length - 1] }} cores</span>
                      </div>
                    </div>
                  </div> -->
                  <div class="w-full sm:w-auto sm:w-1/3 lg:w-1/6 xl:w-1/5 px-2 sm:px-4 xl:px-6 flex flex-col">
                    <div class="text-gray text-xs sm:text-base lg:text-xs uppercase whitespace-no-wrap">
                      {{ `${getComponentNameByKey('ram')}` }}
                    </div>
                    <div class="mt-2">
                      <el-slider
                        :value="'ram' in filtersValues ? filtersValues.ram : [0, sortedFilters.ram_list.length - 1]"
                        :min="0"
                        :max="filters.ram_list.length - 1"
                        :show-tooltip="false"
                        range
                        class="-my-1"
                        @input="onFilterValueChange('ram', $event)"
                        @change="onFilterInteraction('ram', $event.join('_'))"
                      >
                      </el-slider>
                      <div class="flex justify-between text-xs">
                        <span>{{ sortedFilters.ram_list['ram' in filtersValues ? filtersValues.ram[0] : 0] }} GB</span>
                        <span>{{ sortedFilters.ram_list['ram' in filtersValues ? filtersValues.ram[1] : sortedFilters.ram_list.length - 1] }} GB</span>
                      </div>
                    </div>
                  </div>
                  <div class="w-full sm:w-auto sm:w-1/2 lg:w-auto px-2 sm:px-4 xl:px-6 flex flex-col">
                    <div class="text-gray text-xs sm:text-base lg:text-xs uppercase whitespace-no-wrap">
                      Other
                    </div>
                    <div class="mt-2 space-y-1">
                      <div class="flex items-center text-base lg:text-xs cursor-pointer" @click="onFilterValueChange('stock', !('stock' in filtersValues)); onFilterInteraction('other', 'In stock', !!('stock' in filtersValues))">
                        <el-switch :value="'stock' in filtersValues" :label="true"></el-switch>
                        <span class="ml-3">In stock</span>
                      </div>
                      <div v-if="plansType.includes('server')" class="flex items-center text-base lg:text-xs cursor-pointer" @click="onFilterValueChange('gpu', !('gpu' in filtersValues)); onFilterInteraction('other', 'GPU available', !!('gpu' in filtersValues))">
                        <el-switch :value="'gpu' in filtersValues" :label="true"></el-switch>
                        <span class="ml-3">GPU available</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full sm:w-auto lg:w-40 p-2 lg:py-4 lg:px-0">
            <div class="space-y-2 lg:space-y-reverse">
              <cui-button
                size="normal"
                color="gray"
                fit
                class="items-center"
                :disabled="!filtersValuesChanged"
                data-context="pricing_filter"
                data-label="Reset Filters"
                @click="resetFilters"
              >
                Reset Filters
              </cui-button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="absolute hidden lg:block w-full h-4 bg-gradient-to-b from-white"></div>
  </div>
</template>

<script>
import { availableRegions, getComponentNameByKey } from 'cherry-ui/utils'
import Slider from 'element-ui/lib/slider'
import CheckboxGroup from 'element-ui/lib/checkbox-group'
import Checkbox from 'element-ui/lib/checkbox'
import Option from 'element-ui/lib/option'
import Switch from 'element-ui/lib/switch'
import { XIcon } from 'vue-feather-icons'
import { CuiFlag, CuiButton } from 'cherry-ui/components'

export default {
  name: 'CuiPlansPricingFilters',
  components: {
    [Slider.name]: Slider,
    [CheckboxGroup.name]: CheckboxGroup,
    [Checkbox.name]: Checkbox,
    [Option.name]: Option,
    [Switch.name]: Switch,
    XIcon,
    CuiFlag,
    CuiButton
  },
  props: {
    visible: {
      type: Boolean,
    },
    filters: {
      type: Object,
      required: true
    },
    initialFilters: {
      type: Object,
      required: true,
      default: {}
    },
    selectedCategory: {
      type: String,
      required: false
    },
    plansType: {
      type: Array,
      required: true
    }
  },
  data: () => ({
    availableRegions,
    filtersValues: {}
  }),
  computed: {
    sortedFilters () {
      return Object.keys(this.filters).sort().reduce((r, k) => (r[k] = this.filters[k], r), {})
    },
    filtersValuesChanged () {
      return Object.keys(this.filtersValues).length !== 0 && this.filtersValues.constructor === Object
    }
  },
  watch: {
    selectedCategory (category) {
      this.onCategoryChange(category)
    },
    filtersValues: {
      handler () {
        this.onFiltersValuesChange()
      },
      deep: true
    },
    visible (newVal) {
      const el = document.body

      if (newVal) {
        if (['sm'].includes(this.$mq) && !el.classList.contains('overflow-hidden')) {
          el.classList.add('overflow-hidden')
        }
      } else if (el.classList.contains('overflow-hidden')) {
        el.classList.remove('overflow-hidden')
      }
    }
  },
  methods: {
    getComponentNameByKey,
    onFilterValueChange (key, val) {
      if (key === 'regions') this.$emit('filter-value-change', key, [val])
      else this.$emit('filter-value-change', key, val)

      switch (key) {
        case 'regions':
          if (!(key in this.filtersValues)) {
            return this.$set(this.filtersValues, key, [val])
          } else if (!this.filtersValues[key].includes(val)) {
            return this.filtersValues[key].push(val)
          }
          break
        case 'cpu':
          if (!(key in this.filtersValues) || !this.filtersValues[key].includes(val)) {
            return this.$set(this.filtersValues, key, [val])
          }
          break
        case 'cores':
          if (val[0] !== 0 || val[1] !== this.sortedFilters.core_list.length - 1) {
            return this.$set(this.filtersValues, key, val)
          }
          break
        case 'ram':
          if (val[0] !== 0 || val[1] !== this.sortedFilters.ram_list.length - 1) {
            return this.$set(this.filtersValues, key, val)
          }
          break;
        default:
          if (val) {
            return this.$set(this.filtersValues, key, val)
          }
          break
      }

      if (key === 'regions' && this.filtersValues[key].length > 1) {
        return this.filtersValues[key].splice(this.filtersValues[key].indexOf(val), 1)
      }

      return this.$delete(this.filtersValues, key)
    },
    onFiltersValuesChange () {
      const filtersForm = {
        ...('regions' in this.filtersValues && { regions: this.filtersValues.regions }),
        ...('category' in this.filtersValues && { category: [this.filtersValues.tags] }),
        ...('type' in this.filtersValues && { type: this.filtersValues.type }),
        ...('cpu' in this.filtersValues && { cpu_list: this.filtersValues.cpu }),
        ...('cores' in this.filtersValues && { core_list: [...this.sortedFilters['core_list'].slice(this.filtersValues.cores[0], this.filtersValues.cores[1] + 1)] }),
        ...('ram' in this.filtersValues && { ram_list: [...this.sortedFilters['ram_list'].slice(this.filtersValues.ram[0], this.filtersValues.ram[1] + 1)] }),
        ...('gpu' in this.filtersValues && { gpu: this.filtersValues.gpu }),
        ...('stock' in this.filtersValues && { stock: this.filtersValues.stock })
      }

      this.$emit('filters-values-change', filtersForm)
    },
    onCategoryChange (category) {
      if (!category) return
      
      for (let filterKey in this.filtersValues) {
        if (!['type', 'cpu', 'cores', 'ram'].includes(filterKey)) continue
        if (filterKey === 'type' && !this.filtersValues.type.includes('vps') && category === 'dedicated_resources') continue

        this.$delete(this.filtersValues, filterKey)
      }
    },
    onFilterInteraction (filter, value, isEnabled = null) {
      this.$analytics.track('interaction', {
        action: 'click',
        click: {
          type: 'option',
          component: `pricing_filter_${filter}`,
          value,
          ...(isEnabled !== null && { is_enabled: isEnabled })
        }
      })
    },
    applyFilters () {
      this.$emit('filters-visible-change', false)
    },
    resetFilters () {
      this.$router.replace({
        query: {
          category: this.$route.query.category,
          billing: this.$route.query.billing
        }
      }).catch(()=>{})

      if (['sm'].includes(this.$mq)) {
        this.$emit('filters-visible-change', false)
      }

      for (let filterKey in this.filtersValues) {
        this.$delete(this.filtersValues, filterKey)
      }
    },
    closeFilters () {
      this.$emit('filters-visible-change', false)
    }
  },
  async mounted () {
    this.filtersValues = this.initialFilters
  }
}
</script>
