<template>
  <ul ref="pricingCategories" class="flex lg:-mb-px pb-px gap-2 w-full h-auto text-sm font-600 whitespace-no-wrap scrolling-touch overflow-x-auto overflow-y-visible" data-context="pricing_category">
    <li v-for="[key, category] in Object.entries({ 'all': 'All plans', ...categories})" :key="key" :id="`category_${key}`" class="relative flex-1">
      <a
        href="#"
        class="relative flex items-center justify-center h-8 lg:h-12 px-4 xl:px-6 bg-gradient-to-t bg-white text-xs lg:text-sm text-center whitespace-no-wrap border lg:border-b-0 rounded md:rounded-b-none overflow-hidden transition-all ease-linear duration-200"
        :class="{
          'hover:text-blue-base' : selectedCategory !== key,
          'text-blue-base' : selectedCategory === key && category !== 'Server Outlet' || !selectedCategory && key === 'all',
          'text-red-base' : category === 'Server Outlet'
        }"
        :data-label="category"
        @click.prevent="onCategoryChange(key);"
      >
        <img v-if="category === 'Server Outlet'" src="../../../assets/img/icons/discount.svg" alt="Discount image" class="lazyload w-5 h-5 mr-2">
        <span>{{ category }}</span>
        <div class="absolute top-0 inset-x-0 bg-blue-base z-10 transition-all ease-linear duration-200" :class="[ !selectedCategory && key === 'all' || selectedCategory === key ? 'opacity-100' : 'opacity-0' ]" style="height: 3px" />
      </a>
      <div v-if="!selectedCategory && key === 'all' || selectedCategory === key" class="hidden md:block absolute bottom-0 inset-x-0 -mb-px h-px bg-white z-10" />
    </li>
  </ul>
</template>

<script>
export default {
  name: 'CuiPlansPricingCategories',
  props: {
    categories: {
      type: Object,
      required: true
    },
    selectedCategory: {
      type: String
    }
  },
  mounted () {
    this.scrollCategoryIntoView(this.selectedCategory)
  },
  methods: {
    onCategoryChange (category) {
      category = category === 'all' ? null : category
      this.scrollCategoryIntoView(category)
      this.$emit('category-change', category)
    },
    scrollCategoryIntoView (category) {
      if (this.$refs.pricingCategories.scrollWidth > this.$refs.pricingCategories.clientWidth) {
        const id = `category_${category ? category : 'all'}`
        const element = document.getElementById(id)
        if (element) element.scrollIntoView({ behavior: 'instant', block: 'nearest', inline: 'center' })
      }
    }
  }
}
</script>