<template>
  <cui-button
    size="normal"
    color="white"
    fit
    class="text-xs sm:text-sm text-left border border-snow-base"
    @click.prevent="$emit('filters-visible-change', !filtersVisible)"
    data-context="pricing_filter"
    :data-label="`${!filtersVisible ? 'Show' : 'Hide'} filters`"
  >
    <span class="w-18 sm:w-20 text-gray">{{ !filtersVisible ? 'Show' : 'Hide' }} filters</span>
    <sliders-icon class="h-4 -mr-1" />
  </cui-button>
</template>

<script>
import { SlidersIcon } from 'vue-feather-icons'
import { CuiButton } from 'cherry-ui/components'

export default {
  name: 'CuiPlansPricingFiltersTrigger',
  components: {
    SlidersIcon,
    CuiButton
  },
  props: {
    filtersVisible: {
      type: Boolean,
      required: true
    }
  }
}
</script>
