<template>
  <div class="cui-widget">
    <slot />
  </div>
</template>

<script>
export default {
  name: 'CuiWidget'
}
</script>

<style lang="postcss" scoped>
.cui-widget {
  @apply bg-white shadow-raised rounded p-10;
}
</style>
