<template>
  <div>
    <cui-flag
      v-for="region in regions"
      :key="region.id"
      :code="region.country_iso_2"
      size="tiny"
      :tooltip-content="`${region.name}: ${region[stockAttribute] > 0 ? region[stockAttribute] + ' in stock' : 'out of stock'}`"
      :tooltip-placement="tooltipPlacement"
      :class="{ 'opacity-50' : region[stockAttribute] === 0 }"
    />
  </div>
</template>

<script>
import Tooltip from 'element-ui/lib/tooltip'
import { CuiFlag } from '../../ui/Flag'

export default {
  name: 'CuiPlanRegions',
  components: {
    [Tooltip.name]: Tooltip,
    CuiFlag
  },
  props: {
    regions: {
      type: Array,
      required: true
    },
    stockAttribute: {
      type: String,
      required: false,
      default: 'stock_qty'
    },
    tooltipPlacement: {
      type: String,
      required: false,
      default: 'right'
    }
  },
  data: () => ({
    visible: false
  }),
  computed: {
    inStockLocations () {
      return this.regions.filter(region => region[this.stockAttribute] > 0)
    }
  }
}
</script>
