<template>
  <el-tooltip
    v-model="visible"
    :enterable="false"
    :placement="regions.length > 1 ? `${tooltipPlacement}-start` : tooltipPlacement"
  >
    <template slot="content">
      <div
        v-for="region in regions"
        :key="region.id"
        class="flex items-center mt-2 first:mt-0"
        :class="{ 'opacity-75' : region[stockAttribute] === 0 }"
      >
        <cui-flag :code="region.iso" size="small" />
        <span class="ml-2 font-700">{{ region.name }}:</span>
        <span class="ml-1">{{ `${region[stockAttribute] > 0 ? region[stockAttribute] + ' in stock' : 'out of stock'}` }}</span>
      </div>
    </template>
    <div
      class="relative flex items-center justify-center w-8 h-8 select-none"
      @mousedown="visible = !visible"
    >
      <map-pin-icon
        class="w-5 h-6"
        :class="{ 
          'text-blue-base': inStockLocations.length > 0,
          'text-gray': inStockLocations.length === 0
        }" />
      <span
        class="hidden absolute right-0 self-start mt-1 mr-1 text-2xs font-700 antialiased"
        :class="{
          'text-blue-d1': inStockLocations.length > 0,
          'text-gray': inStockLocations.length === 0
        }"
      >
        {{ inStockLocations.length }}
      </span>
    </div>
  </el-tooltip>
</template>

<script>
import Tooltip from 'element-ui/lib/tooltip'
import { MapPinIcon } from 'vue-feather-icons'
import { CuiFlag } from '../../ui/Flag'

export default {
  name: 'CuiPlanRegions',
  components: {
    [Tooltip.name]: Tooltip,
    MapPinIcon,
    CuiFlag
  },
  props: {
    regions: {
      type: Array,
      required: true
    },
    stockAttribute: {
      type: String,
      required: false,
      default: 'stock_qty'
    },
    tooltipPlacement: {
      type: String,
      required: false,
      default: 'right'
    }
  },
  data: () => ({
    visible: false
  }),
  computed: {
    inStockLocations () {
      return this.regions.filter(region => region[this.stockAttribute] > 0)
    }
  }
}
</script>
