<template>
  <div class="flex min-h-full min-w-full w-full items-center justify-center font-primary text-gray text-base p-10">
    <div class="w-full">
      <div class="container flex">
        <c-customizer @configChange="onConfigChange" @commentsChange="onCommentsChange" :plan="plan" v-if="!initialLoad">
          <template slot-scope="{ options, id, config, pricing, regions, updateConfig, updateComments, isCustom }">
            <div class="w-full lg:flex lg:-m-8 lg:items-start">
              <div class="w-full lg:p-6">
                <div class="mb-6 leading-relaxed">
                  <div class="flex items-center mb-1">
                    <h2 class="text-coal-base font-secondary text-xl sm:text-2xl mb-1">{{ plan.title }}</h2>
                    <cui-customizer-plan-switch :billing="config.b" :currency="currency" :plans="customizablePlans" @change="switchPlan" class="ml-2" />
                  </div>

                  <div>{{ plan.long_description }}</div>
                </div>
                <div class="mb-6">
                  <cui-billing-switch @change="updateConfig({ b: arguments[0].id })" />
                </div>
                <cui-customizer-regions :regions="regions" :region="plan.region.id" :loading="loading" @regionChange="updateConfig" class="mb-6" />
                <cui-alert v-if="isCustom || config.r !== 1" class="mb-6" title="Hardware customization">
                  <template slot="icon">
                    <info-icon size="20" />
                  </template>
                  Custom plans can be deployed only in <cui-flag :code="'LT'" size="tiny" /> EU-East-1 region and may take up to 24 hours for manual review.
                </cui-alert>
                <cui-customizer-form ref="customizerForm" :id="id" :options="options" :billing="config.b" :currency="currency" :loading="loading" @configChange="updateConfig" @commentsChange="updateComments" />
              </div>
              <div class="lg:w-96 lg:flex-shrink-0 lg:flex-grow-0 lg:px-8 mt-8 lg:mt-0 lg:sticky static" style="top: 2.5em">
                <cui-customizer-billing :plan="plan" :currency="currency" :pricing="pricing" @billingChange="updateConfig" :loading="loading">
                  <template slot="footer">
                    <div class="flex items-center">
                      <cui-button fit :disabled="loading" @click="onAddToCart">Add To Cart</cui-button>
                      <el-tooltip class="item" content="Generate shortlink">
                        <cui-button action class="flex-shrink-0 border-l border-blue-l1" :disabled="loading" @click="$message.success('Shortlink successfully generated')">
                          <link-icon size="20" />
                        </cui-button>
                      </el-tooltip>
                    </div>
                  </template>
                </cui-customizer-billing>

                <cui-widget class="mt-10 text-center">
                  <div class="mb-6">
                    <svg width="32px" height="30px" viewBox="0 0 32 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="inline-flex">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g transform="translate(-284.000000, -972.000000)" stroke-width="2">
                            <g transform="translate(285.000000, 973.000000)">
                              <path d="M29,28 L1,28 C0.44771525,28 6.76353751e-17,27.5522847 0,27 L0,1 C-6.76353751e-17,0.44771525 0.44771525,1.01453063e-16 1,0 L10.5,1.33226763e-15 C10.8147573,1.27444765e-15 11.1111456,0.148194157 11.3,0.4 L13.7,3.6 C13.8888544,3.85180584 14.1852427,4 14.5,4 L29,4 C29.5522847,4 30,4.44771525 30,5 L30,27 C30,27.5522847 29.5522847,28 29,28 Z" stroke="#818181" stroke-linecap="square"></path>
                              <path d="M15,9 L15,11" stroke="#0054FF" stroke-linecap="square"></path>
                              <path d="M15,21 L15,23" stroke="#0054FF" stroke-linecap="square"></path>
                              <path d="M12,18.5 L12,18.5 C12,19.881 13.119,21 14.5,21 L15.5,21 C16.881,21 18,19.881 18,18.5 L18,18.5 C18,15 12,17 12,13.5 L12,13.5 C12,12.119 13.119,11 14.5,11 L15.5,11 C16.881,11 18,12.119 18,13.5" stroke="#0054FF"></path>
                            </g>
                          </g>
                        </g>
                    </svg>
                  </div>
                  <div class="text-md text-coal-base font-600">
                    Free $30 Production Credit
                  </div>
                  <div class="my-3">
                    Verify your credit card and get free credit to test our cloud services
                  </div>
                  <div>
                    <a href="https://portal.cherryservers.com/register" target="_blank" class="text-blue-base text-md font-600 hover:text-blue-d1 active:text-blue-d2">
                      Create an Account
                    </a>
                  </div>
                </cui-widget>
              </div>
            </div>
          </template>
        </c-customizer>
      </div>
    </div>
  </div>
</template>

<script>
// import { beautifyQuery } from '../src/utils'
import { InfoIcon, LinkIcon } from 'vue-feather-icons'

export default {
  name: 'Customizer',
  data: () => ({
    currency: 'EUR',
    plan: {},
    loading: false,
    initialLoad: true,
    customizablePlans: []
  }),
  components: {
    InfoIcon,
    LinkIcon
  },
  methods: {
    onAddToCart () {
      this.$refs.customizerForm.validate().then(() => {
        this.$message.success(`${this.plan.title} successfully added to cart`)
      }).catch(() => {
        this.$message.warning(`All comments fields must be filled`)
      })
    },
    onCommentsChange() {
      // console.log('update query')
    },
    onConfigChange(settings) {
      this.updatePlan(settings)
    },
    async updatePlan(settings) {
      this.loading = true
      const defaultQuery = {
        currency: this.currency,
        cycle_id: 6,
        location_name: 'nl'
      }

      let query = {
        ...defaultQuery
      }

      if (settings) {
        query['variant_ids'] = Object.values(settings.config.c)
        query['cycle_id'] = settings.config.b,
        query['location_name'] = settings.config.r === 1 ? 'lt' : settings.config.r === 2 ? 'nl' : settings.config.r === 3 ? 'us' : 'sg'
      }

      try {
        const plan = await this.axios.get('https://mesa.cherryservers.com/api/v1/plans/e5-1620v4', {
          params: {
            ...query
          }
        })

        this.plan = plan.data
      } catch (e) {
        console.log(e)
      } finally {
        this.loading = false
        this.initialLoad = false
      }
    },
    async loadCustomizablePlans () {
      try {
        const { data } = await this.axios.get('https://mesa.cherryservers.com/api/v1/grouped/plans', {
          params: {
            currency: this.currency,
            cycle_id: 6
          }
        })
        this.customizablePlans = data.map(item => item[1])
      } catch (e) {
        this.$message.error(e)
      }
    },
    switchPlan (plan) {
      alert(JSON.stringify(plan))
    }
  },
  mounted() {
    this.updatePlan()
    this.loadCustomizablePlans()
  }
}
</script>
