<template>
  <div class="flex min-h-screen min-w-screen w-full items-center justify-center font-primary text-gray text-base p-10">
    <div class="container">
      <button @click="isVisible = true">Show modal</button>

      <cui-modal :visible="isVisible" @close="isVisible = false" closable-background show-close title="Edit IP address" @submit="$message.success('1')">
        <template>
          <div class="leading-relaxed">
            Aenean mollis sagittis tortor, at auctor magna vulputate ut. Morbi semper dolor elementum erat auctor, quis tempus nibh blandit. Nunc vel vestibulum nibh. Ut commodo maximus libero, non porttitor justo. Vivamus in tristique nibh. Etiam fringilla vel eros quis dignissim. Pellentesque rutrum risus non lacus volutpat iaculis. Nullam et felis nec eros egestas accumsan malesuada ac nisl. Nulla accumsan at nunc at posuere. Integer facilisis et est ut suscipit. Maecenas orci ex, fermentum ut fringilla vitae, porttitor quis velit. Vivamus ac vulputate dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus non justo dapibus, aliquam nunc consectetur, lacinia metus. Donec ullamcorper orci leo, ut viverra ipsum pellentesque sit amet.
          </div>
          <div>
            <el-input placeholder="test"/>
          </div>
          <button @click="isVisible2 = true">Show modal 2</button>
        </template>

        <template slot="footer">
          <div class="justify-end flex items-center -m-1">
            <div class="p-1">
              <button class="bg-transparent text-gray hover:text-blue-base active:text-blue-d1 hover:text-coal-base h-10 px-6 rounded-sm text-base transition-all ease-linear duration-200 flex items-center justify-center flex items-center w-full focus:outline-none font-600" @click="isVisible = false">
                Discard
              </button>
            </div>
            <div class="p-1">
              <button class="bg-blue-base rounded-sm text-white hover:bg-blue-d1 active:bg-blue-d2 font-600 text-base h-10 px-6 transition-all ease-linear duration-200 flex items-center justify-center">
                Update
              </button>
            </div>
          </div>
        </template>
      </cui-modal>

      <cui-action-confirmation
        :visible="isVisible2"
        :reasons="reasons"
        confirmation-text="Yes, delete it. I understand this action is not reversible."
        @close="isVisible2 = false"
        @confirmed="onConfirmation"
      >
        <template slot="title">
          Delete <cui-flag :code="`nl`" size="small" /> jiggly-puff (04200) permanently?
        </template>
        <template slot="description">
          Deleting a server instance is <span class="font-600 text-coal-base">not reversible</span>.<br />
        </template>
        <template>
          <ul>
            <li>
              All billing for this server will stop.
            </li>
            <li class="mt-4">
              Any floating IPs or elastic block storage volumes will be unattached and need to be deleted separately.
            </li>
            <li class="mt-4">
              We will securely delete all data during an extensive server termination process.
            </li>
          </ul>
        </template>
      </cui-action-confirmation>

      <!-- <cui-action-confirmation :visible="isDeleteVisible" :loading="$wait.is(`SERVER_DELETE_${server.id}`)" @close="isDeleteVisible = false" confirmText="Yes, delete it. I understand this action is not reversible." confirmationString="yes" @confirmed="onServerAction('delete')">
        <div class="leading-normal">
          <div class="text-md md:text-lg lg:text-xl text-coal-base">
            Delete <cui-flag :code="`lt`" size="small" /> {{ `${server.hostname} (${server.id})`}} permanently?
          </div>
          <div class="mt-4">
            Deleting a server instance is <span class="font-600 text-coal-base">not reversible</span>.<br />
          </div>
          <ul class="px-8 py-5 bg-red-base-alpha-4 mt-8 rounded text-red-base">
            <li>
              All billing for this server will stop.
            </li>
            <li class="mt-4">
              Any floating IPs or elastic block storage volumes will be unattached and need to be deleted separately.
            </li>
            <li class="mt-4">
              We will securely delete all data during an extensive server termination process.
            </li>
          </ul>
          <div class="mt-8 mb-2">
            If you sure about this, please confirm this action:
          </div>
        </div>
      </cui-action-confirmation> -->

      <button @click="isVisible2 = true" class="text-red-base font-600">delete</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Examples',
  data () {
    return {
      isVisible: false,
      isVisible2: false,
      reasons: []
    }
  },
  methods: {
    async loadReasons () {
      const { data } = await this.axios.get('https://mesa.cherryservers.com/api/v1/cancellation-reasons')
      this.reasons = data
    },
    onConfirmation (result) {
      console.log(result)
    }
  },
  mounted () {
    this.loadReasons()
  }
}
</script>
