.el-loading-mask {
  @apply text-center;
}
.el-loading-spinner .circular {
  @apply inline-block;
}
.el-scrollbar__bar {
  @apply opacity-100;
}
.el-dropdown-menu__item a {
  @apply -mx-5 px-5 block;
}

.el-checkbox {
  @apply inline-flex items-start;
}
.el-checkbox__label {
  @apply inline-flex whitespace-normal -mt-2px;
}
.el-checkbox__input {
  font-size: 0;
}
