<template>
  <div class="">
    <el-dropdown ref="dropdown" trigger="click" placement="bottom-end" :visible-arrow="false" @visible-change="onVisibleChange">
      <button class="flex items-center py-3 px-4 rounded-sm border shadow-raised">
        <span class="mr-4 text-coal-l1">
          Billing cycle
        </span>
        <span class="text-blue-base font-600 text-left">
          {{ selectedCycleObject ? selectedCycleObject.name : null }}
        </span>
        <component :is="isChoiceVisible ? 'ChevronUpIcon' : 'ChevronDownIcon'" size="18" class="ml-2 text-blue-base" />
      </button>
      <el-dropdown-menu slot="dropdown" class="w-full sm:w-48">
        <el-radio-group
          v-model="cycle"
          size="medium"
          class="flex flex-col"
          @change="onCycleChange"
        >
          <el-radio
            v-for="cycle in cycles"
            :key="cycle.id"
            :label="cycle.id"
            class="m-0 py-2 px-4 hover:bg-snow-l3"
          >
            <span>{{ cycle.name }}</span>
            <el-tooltip v-if="cycle.id === 38" placement="top-end" :offset="-10">
              <div slot="content">
                <p class="mt-0 mb-2">
                  Spot Servers are well-suited for stateless workloads.
                </p>
                <p class="mt-0 mb-2">
                  They have up to 70% lower price than on-demand servers, <br>
                  but they <span class="font-600">can be terminated at any time</span>.
                </p>
                <a 
                  href="https://docs.cherryservers.com/knowledge/spot-servers"
                  target="_blank"
                  class="inline-flex items-center justify-center text-blue-l3 focus:outline-none font-600 transition-all ease-linear duration-200"
                >
                  Read Quick-start Guide
                  <arrow-right-icon class="ml-1 h-4" />
                </a>
              </div>
              <info-icon 
                class="float-right w-4 h-4 text-coal-l1 hover:text-blue-base"
              />
            </el-tooltip>
          </el-radio>
        </el-radio-group>
      </el-dropdown-menu>
    </el-dropdown>
  </div>
</template>

<script>
import { availableCycles } from '../../../utils'
import { ChevronDownIcon, ChevronUpIcon, InfoIcon, ArrowRightIcon } from 'vue-feather-icons'

export default {
  name: 'CuiBillingSwitch',
  components: {
    ChevronDownIcon,
    ChevronUpIcon,
    InfoIcon,
    ArrowRightIcon
  },
  props: {
    selectedCycle: {
      type: Number,
      required: true
    },
    hiddenCycles: {
      type: Array,
      required: false
    },
  },
  data: () => ({
    cycle: null,
    isChoiceVisible: false
  }),
  watch: {
    'selectedCycle': function (cycleId) {
      this.cycle = cycleId
    }
  },
  computed: {
    cycles () {
      return availableCycles.filter(cycle => !this.hiddenCycles.includes(cycle.id))
    },
    selectedCycleObject() {
      return availableCycles.find(cycle => cycle.id === this.cycle)
    }
  },
  mounted() {
    this.cycle = this.selectedCycle
  },
  methods: {
    onCycleChange () {
      this.$emit('change', this.cycle)
      this.$refs.dropdown.hide()
    },
    onVisibleChange(value) {
      this.isChoiceVisible = value
    }
  }
}
</script>
