<template>
  <div :class="logoClass" class="cui-logo">
    <svg
      :style="{ height: `${height}px` }"
      xmlns="http://www.w3.org/2000/svg"
      xml:space="preserve"
      version="1.1"
      viewBox="0 0 2606 490"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <path
        class="cui-logo__name"
        d="M761 316c-12,7 -29,10 -50,10 -13,0 -22,-1 -28,-3 -14,-5 -24,-14 -29,-26 -3,-8 -5,-17 -5,-27 -1,-10 -1,-18 -1,-25 0,-6 0,-13 0,-19 1,-7 2,-13 3,-19 1,-6 3,-11 6,-16 3,-6 7,-10 11,-14 11,-8 26,-12 45,-12 14,0 28,2 40,6 3,1 5,2 7,3l-7 20c-16,-7 -30,-10 -41,-10 -10,0 -18,1 -23,4 -5,2 -9,6 -12,11 -5,8 -7,24 -7,47 0,9 0,17 1,25 1,7 2,14 5,19 5,11 15,17 31,17 16,0 32,-3 47,-8l7 17zm121 -131c-17,0 -34,5 -51,15l0 123 -22 0 0 -222 21 -2 0 85c9,-8 21,-13 35,-17 6,-1 13,-2 21,-2 7,0 14,1 20,3 6,2 11,4 14,8 7,7 10,20 10,39l0 108 -22 0 0 -104c0,-13 -1,-21 -4,-24 -2,-4 -5,-6 -9,-8 -3,-1 -7,-2 -13,-2zm227 130c-18,7 -38,11 -60,11 -13,0 -23,-2 -32,-4 -14,-4 -23,-12 -28,-25 -4,-12 -6,-29 -6,-52l0 -7c0,-27 5,-47 17,-58 10,-10 27,-15 52,-15 23,0 39,6 48,18 4,5 7,12 8,20 2,8 2,16 2,23 0,12 0,20 -1,27 -12,0 -23,1 -33,1l-21 0c-22,0 -38,-1 -50,-3 0,20 2,34 7,42 6,9 19,14 37,14 19,0 36,-3 53,-11l7 19zm-21 -80l0 -12c0,-14 -2,-24 -8,-29 -6,-7 -16,-10 -30,-10 -18,0 -30,4 -36,11 -6,7 -9,21 -9,40l83 0zm133 -48c-11,0 -23,5 -34,16l0 120 -22 0 0 -155 19 0 2 20c4,-6 9,-11 14,-14 4,-4 8,-6 11,-7 5,-1 9,-2 13,-2 4,0 8,1 14,3l-2 20c-4,-1 -9,-1 -15,-1zm111 0c-11,0 -22,5 -34,16l0 120 -21 0 0 -155 19 0 2 20c4,-6 8,-11 13,-14 5,-4 9,-6 12,-7 4,-1 8,-2 12,-2 4,0 9,1 15,3l-2 20c-5,-1 -10,-1 -16,-1zm53 174c6,2 11,3 15,3 4,0 7,0 8,0 2,0 3,-1 4,-2 3,-1 6,-4 7,-8 4,-9 7,-18 10,-29l-60 -157 24 0 40 114 6 20 6 -20 36 -114 22 0 -65 192c-5,15 -16,22 -33,22 -11,0 -20,-1 -26,-4l6 -17zm226 -69c18,10 36,15 54,15 15,0 24,-5 26,-16 1,-3 2,-8 2,-13 0,-5 -1,-9 -2,-12 -1,-3 -3,-5 -6,-7 -3,-1 -7,-2 -12,-3 -4,-1 -10,-2 -18,-3 -7,-1 -14,-3 -20,-4 -6,-2 -11,-4 -15,-7 -9,-6 -14,-17 -13,-32l0 -3c0,-16 5,-28 15,-34 10,-7 27,-9 50,-7 16,1 29,4 38,8l-6 20c-10,-5 -23,-8 -38,-10 -4,0 -8,-1 -12,-1 -4,0 -8,1 -11,1 -3,1 -6,2 -8,4 -4,3 -7,9 -7,19 0,10 3,17 9,20 6,3 14,5 22,6 8,1 15,2 21,3 5,1 10,2 14,3 4,2 8,4 11,7 7,6 10,17 10,32 -1,27 -12,42 -34,46 -6,1 -13,2 -19,2 -7,0 -13,-1 -19,-1 -5,-1 -11,-2 -16,-4 -9,-3 -18,-6 -26,-11l10 -18zm277 23c-18,7 -38,11 -59,11 -13,0 -24,-2 -33,-4 -14,-4 -23,-12 -28,-25 -4,-12 -6,-29 -6,-52l0 -7c0,-27 6,-47 17,-58 11,-10 28,-15 52,-15 24,0 40,6 49,18 4,5 6,12 8,20 1,8 2,16 2,23 0,12 0,20 -1,27 -12,0 -23,1 -33,1l-21 0c-22,0 -39,-1 -51,-3 0,20 3,34 8,42 6,9 18,14 37,14 18,0 36,-3 53,-11l6 19zm-20 -80l0 -12c0,-14 -3,-24 -8,-29 -6,-7 -16,-10 -31,-10 -17,0 -29,4 -36,11 -6,7 -9,21 -9,40l84 0zm132 -48c-11,0 -22,5 -34,16l0 120 -21 0 0 -155 19 0 2 20c4,-6 8,-11 13,-14 5,-4 9,-6 12,-7 4,-1 8,-2 12,-2 4,0 9,1 15,3l-2 20c-5,-1 -10,-1 -16,-1zm38 -19l23 0 41 127 4 12 3 -12 39 -127 24 0 -52 155 -29 0 -53 -155zm296 147c-18,7 -38,11 -60,11 -13,0 -23,-2 -32,-4 -14,-4 -23,-12 -28,-25 -4,-12 -6,-29 -6,-52l0 -7c0,-27 5,-47 17,-58 10,-10 27,-15 52,-15 23,0 39,6 48,18 4,5 7,12 8,20 2,8 2,16 2,23 0,12 0,20 -1,27 -12,0 -23,1 -33,1l-21 0c-22,0 -38,-1 -50,-3 0,20 2,34 7,42 6,9 19,14 37,14 19,0 36,-3 53,-11l7 19zm-21 -80l0 -12c0,-14 -2,-24 -8,-29 -6,-7 -16,-10 -30,-10 -18,0 -30,4 -36,11 -6,7 -9,21 -9,40l83 0zm133 -48c-11,0 -23,5 -34,16l0 120 -22 0 0 -155 19 0 2 20c4,-6 9,-11 14,-14 4,-4 8,-6 11,-7 5,-1 9,-2 13,-2 4,0 8,1 14,3l-2 20c-4,-1 -9,-1 -15,-1zm56 105c18,10 36,15 54,15 15,0 24,-5 26,-16 1,-3 2,-8 2,-13 0,-5 -1,-9 -2,-12 -1,-3 -3,-5 -6,-7 -3,-1 -7,-2 -12,-3 -4,-1 -10,-2 -18,-3 -7,-1 -14,-3 -20,-4 -6,-2 -11,-4 -15,-7 -9,-6 -14,-17 -13,-32l0 -3c0,-16 5,-28 15,-34 10,-7 27,-9 50,-7 16,1 29,4 38,8l-6 20c-10,-5 -23,-8 -38,-10 -4,0 -8,-1 -12,-1 -4,0 -8,1 -11,1 -3,1 -6,2 -8,4 -4,3 -7,9 -7,19 0,10 3,17 9,20 7,3 14,5 22,6 8,1 15,2 21,3 5,1 10,2 14,3 4,2 8,4 11,7 7,6 10,17 10,32 -1,27 -12,42 -34,46 -6,1 -13,2 -19,2 -7,0 -13,-1 -19,-1 -5,-1 -10,-2 -16,-4 -9,-3 -18,-6 -26,-11l10 -18z"
      />
      <path
        class="cui-logo__shape"
        d="M104 44c107,-74 253,-52 332,48 -14,18 -30,34 -47,46 -13,9 -26,16 -40,22 -1,0 -1,0 -2,1 -7,3 -18,3 -23,-5 -35,-57 -97,-55 -147,-9 -49,45 -67,112 -30,166 38,54 107,59 166,29 59,-30 79,-85 44,-136 -4,-6 0,-11 6,-14 0,0 1,0 1,0 16,-7 31,-16 45,-25 17,-13 33,-28 48,-44 63,108 33,249 -72,322 -111,78 -263,51 -341,-60 -77,-111 -50,-263 60,-341z"
      />
    </svg>
  </div>
</template>

<script>
export default {
  name: 'CuiLogo',
  props: {
    height: {
      type: Number,
      required: false,
      default: 36
    },
    monochrome: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  computed: {
    logoClass () {
      return {
        'cui-logo--monochrome' : this.monochrome
      }
    }
  }
}
</script>

<style lang="postcss" scoped>
.cui-logo svg { @apply block w-auto }
.cui-logo__shape { fill: theme('colors.red.base') }
.cui-logo__name { fill: theme('colors.black') }

.cui-logo--monochrome .cui-logo__shape,
.cui-logo--monochrome .cui-logo__name {
  fill: theme('colors.white')
}
</style>
